/*首页主体内容*/
.container{
	width: 100%;
}
.adWrap{
	width: 100%;
	height: 530px;
	background: #f5f5f5;
	padding-top: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.adWrap .adCont{
	width: 1190px;
	margin:0 auto;
}
.carousel{
	width: 840px;
	height: 302px;
	margin-bottom: 10px;
	overflow: hidden;
}
.carousel #owl-demo{
	height: 302px;
}
.adWrap .adBottom{
	height: 210px;
	margin-top: 10px;
}
.adWrap .adBottom .adBm-cont{
	width: 274px;
	height: 210px;
	float: left;
	margin-right: 9px;
	overflow: hidden;
	position: relative;
}
.adWrap .adBottom .adBm-cont:hover .adBm-text{
	background: rgba(0,0,0,0.75);
}
.adWrap .adBottom .adBm-cont img{
	width: 100%;
	height: 100%;
}
.adWrap .adBottom .adBm-cont .adBm-text{
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 40px;
	width: 100%;
	background: rgba(0,0,0,0.35);
	line-height: 40px;
	color: #fff;
	text-indent: 10px;
}
/*已经申请的店铺*/










.boxMain{
	width: 1190px;
	margin: 0 auto;
	margin-top: 30px;
}
.boxMain .title{
	width: 100%;
	border-bottom: 2px solid #548d35;
	height: 36px;
	z-index: 11;
	position: relative;
}
.boxMain .title h3{
	float: left;
	font-size: 22px;
	margin-bottom: 14px;
}
.boxMain .title h3 small{
	margin-left: 19px;
	font-size: 14px;
	color: #999999;
}
.boxMain .title p{
	float: right;
	margin-top: 11px;
	font-size: 12px;
	color: #999999;
}
.boxMain section{
	width: 100%;
}
.boxMain section .left{
	width: 230px;
	height: 460px;
	float: left;
	clear: both;
	margin: 0 10px 0 0px;
	border:10px solid #f8f8f8;
	box-sizing:border-box;
	overflow: hidden;
}
.boxMain section .left .brand{
	width: 100%;
    height: 115px;
    background: #ffddcc;
    padding-top: 24px;
    font-family: "微软雅黑";
}
.boxMain section .left .brand p{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.boxMain section .left .pic{
	width: 213px;
	height: 346px;
}
.boxMain section .midden{
	width: 502px;
	height: 460px;
	float: left;
	box-sizing:border-box;
	font-size: 0;
	margin-top: -1px;
}
.boxMain section .left .pic #owl-demo1 a,
.boxMain section .left .pic #owl-demo2 a,
.boxMain section .left .pic #owl-demo3 a,
.boxMain section .left .pic #owl-demo4 a,
.boxMain section .left .pic #owl-demo5 a{
	display: block;
	width: 70px;
	height: 70px;
	margin:0 auto;
	margin-top: 5px;
}
.boxMain section .left .pic #owl-demo1 a img,
.boxMain section .left .pic #owl-demo2 a img,
.boxMain section .left .pic #owl-demo3 a img,
.boxMain section .left .pic #owl-demo4 a img,
.boxMain section .left .pic #owl-demo5 a img{
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	position: static;
}
.boxMain section .midden a{
	display: inline-block;
	width: 100%;
	height: 224px;
	overflow: hidden;
}
.boxMain section .midden .img1{
	margin-bottom: 10px;
}
.boxMain section .midden a img{
	width: 100%;
	height: 100%;
}
.boxMain section .right{
	float: left;
	height: 460px;
	width: 443px;
	box-sizing:border-box;
}
.boxMain section .right ul li{
	float: left;
	box-sizing:border-box;
	width: 211px;
	width: 201px\0;
	height: 225px;
	margin:0px 10px 13px 10px;
	text-align: center;
	border:1px solid #e5e5e5;
	margin-top: -3px;
}
.boxMain section .right ul li:hover{
	border:2px solid #9cb98d;
}
.boxMain section .right ul li:nth-child(even){
	margin-left: 0;
	margin-right: 0;
}
.boxMain section .right ul li a h5{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
	margin:19px 0 8px 0;
	line-height: 1;
}
.boxMain section .right ul li a p{
	font-size: 12px;
	color: #666666;
	margin-bottom: 27px;
}
.boxMain section .right ul li a .imgs{
	width: 94px;
	height: 132px;
	margin:0 auto;
	overflow: hidden;
}
.boxMain section .right ul li a .imgs img{
	width: 100%;

}
.boxMain section .midden .img3{
	width: 100%;
	height: 100%;
}
.boxMain .agriculturalRight{
	width: 946px;
	float: left;
	
}
.boxMain .agriculturalRight ul li{
	float: left;
	margin-left: 10px;
	width: 229px;
	height: 312px;
	overflow: hidden;
	position: relative;
	width: 226px\9;
	margin-top: -1px;
}
.boxMain .agriculturalRight ul li:first-child{
	margin-left: 0;
}
.boxMain .agriculturalRight ul li a div{
	width: 210px;
	height: 80px;
	background: rgba(255,255,255,0.8);
	background: url(../images/goods4bj.png) no-repeat\9;
	position: absolute;
	left: 10px;
	bottom: 10px;
	text-align: center;
}
.boxMain .agriculturalRight ul li a div h5{
	font-size: 24px;
	font-weight: bold;
	margin:19px 0 6px 0;
}
.boxMain .agriculturalRight ul li a div p{
	font-size: 14px;
	color: #666666;
}
#leftbar{
	width: 50px;
	height: 306px;
	border-radius: 5px;
	background: #548d35;
	text-align: center;
	position: fixed;
	top: 2px;
	left: 50%;
	margin-left: -655px;
	display: none;
}
@media (max-width: 1280px){
	#leftbar{
		margin-left: -627px;
	}
}
#leftbar ul li{
	width: 100%;
	height: 61px;
	position: relative;
	font-size: 18px;
}
#leftbar ul li .z1{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #fff;
}
#leftbar ul li .z1 p{
	padding-top: 6px;

}
#leftbar ul li .z1 img{
	display: block;
	width: 19px;
	height: 19px;
	margin: 0 auto;
}
#leftbar ul li .z2{
	position: absolute;
	width: 93%;
	height: 99%;
	top: 1px;
	left: 1px;
	left: 2px\9;
	background: #fff;
	font-size: 16px;
    border: 1px solid #548d35;
    display: none;
    color: #548d35;
}

#leftbar ul li .z2 p:first-child{
	padding-top: 10px;
}
#leftbar a {
	color: #fff;
}
/*.owl-item .item img{
	height: 403px;
	width: 100%;
}*/
.owl-item .item{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.owl-item .item img{
	display: block;
	[;position: relative;];
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%); 	/* IE 9 */
	-moz-transform:translateX(-50%); 	/* Firefox */
	-webkit-transform:translateX(-50%); /* Safari 和 Chrome */
	-o-transform:translateX(-50%);
	width:auto;
	height: auto;
	margin:auto;
	text-align: center;
	position: relative;
	position: static\0;
	width: 100%\0;
	height: 100%\0;
}
 @media all and (-ms-high-contrast:none)
     {
     *::-ms-backdrop, .owl-item .item img { position: relative; } /* IE11 */
     }
:root .owl-item .item img{
	position:relative\9;
	width:auto\9;
	height: auto\9;
}