<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!-- <link rel="stylesheet" href="__PUBLIC__/mall/wuhelong/css/common.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/mall/wuhelong/css/seller.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/laydate/laydate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/layer/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/common.js"></script> -->



	<!-- /////////////// -->
	<link rel="stylesheet" href="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/css/common.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/mall/PersonalCenter/FarmMallPersonal/JIC/css/seller.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/mall/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/common2.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/footer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/layer/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/laydate/laydate.js"></script>
	<!-- ///////////////////// -->
	<!--[if IE]> 
	<script> 
	(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta)/IE8.js" type=”text/javascript”></script>
	<![endif]-->
	<style type="text/css">
		
 
	</style>
</head>
<body>
	<section class="container"><!-- 主体内容开始 -->
		<div class="containerBox clear">
			<div class=""> <!-- 右边主体内容 -->

				<div class="rightCont buyerboughtGoods"> <!-- 右边的正文内容 -->
					<h3>已卖出的商品</h3>
					<form action="">
						<div class="batch">
							<input type="checkbox" name="" id="" class="allCheck"><label>全选</label>
							<input type="button" value="批量发货">
						</div>
						<div class="tableBox">
							<dl class="tr1 clear">
								<dd style="width: 248px;">商品</dd>
								<dd style="width: 118px;">单价/数量</dd>
								<dd style="width: 82px;">总价</dd>
								<dd style="width: 90px;">运费</dd>
								<dd style="width: 120px;">实际收款</dd>
								<dd style="width: 122px;">交易状态</dd>
								<dd style="width: 146px;text-align: left;text-indent: 34px;">交易操作</dd>
							</dl>
							<table class="listBox"><!-- 一个订单开始 -->
								<tr style="width: 900px;height: 30px;"><!-- 订单标题 -->
									<th colspan="5">
										<a href="" class="listBox-title">
											<input type="checkbox" name="" id="">
											<span>1407241453498101</span>
											<span>2015-05-28 14:53:48 </span>
											<span>卖家：王思聪</span>	
										</a>
										<div class="delet"><img src="__PUBLIC__\mall\PersonalCenter\FarmMallPersonal\JIC\Image\delete.png" alt=""></div><!-- 删除图片 -->
									</th>
									
								</tr>
								<tr style="border-bottom: 1px solid #e4f7d4;">
									<td class="listCont listCont1" >
										<div class="goodsInfo"><!-- 商品信息Start -->
											<div class="goods1"> <!-- 单个商品的信息start -->
												<div><a href=""><img src="__PUBLIC__\mall\PersonalCenter\FarmMallPersonal\JIC\Image\farmMallIndexGoods.png" alt=""></a></div>
												<div class="goodsName">
													<p><a href="">克无踪克无踪克无踪克无踪克无踪克无踪克无踪克无踪</a></p>
													<span>规格:250ml</span>
												</div>
												<div class="price">
													<p>800.00</p>
													<p>x10</p>
												</div>
												<div class="goodsNum"><!-- 改价总价 -->
													<p class="goodsNum-txt">1000.00</p>
													<p class="goodsNum-txt2"></p>
													<input onkeyup="if(this.value==this.value2)return;if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;" class="goodsNum-input">
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear"><span class="left">确定</span><span class="right">取消</span></div>
												</div><!-- 改价总价end -->
												<div class="shipment goodsNum"><!-- 改价运费 -->
													<p class="goodsNum-txt">10</p>
													<p class="goodsNum-txt2"></p>
													<input onkeyup="if(this.value==this.value2)return;if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;" class="goodsNum-input">
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear">
														<span class="left">确定</span>
														<span class="right">取消</span>
													</div>
												</div><!-- 改价运费end -->
											</div><!-- 单个商品的信息end -->
											<div class="goods1"> <!-- 单个商品的信息start -->
												<div><a href=""><img src="__PUBLIC__\mall\PersonalCenter\FarmMallPersonal\JIC\Image\farmMallIndexGoods.png" alt=""></a></div>
												<div class="goodsName">
													<p><a href="">克无踪</a></p>
													<span>规格:250ml</span>
												</div>
												<div class="price">
													<p>800.00</p>
													<p>x10</p>
												</div>
												<div class="goodsNum">
													<p class="goodsNum-txt">1000.00</p>
													<input type="text" name="" id="" value="" class="goodsNum-input" >
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear"><span class="left">确定</span><span class="right">取消</span></div>
												</div>

												<div class="shipment goodsNum">
													<p class="goodsNum-txt">10</p>
													<input type="text" name="" id="" class="goodsNum-input">
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear">
														<span class="left">确定</span>
														<span class="right">取消</span>
													</div>
												</div>
											</div><!-- 单个商品的信息end -->
										</div><!-- 商品信息end -->
									</td>
									<td class="listCont listCont2" style="width: 110px;"><!-- 实际收款开始 -->
										<div class="freight">
											<div class="freightBox">
												<p>1100.00</p>
												<p>(含运费:0.00)</p>
											</div>
										</div>
									</td><!-- 实际收款结束 -->
									<td class="listCont listCont3" style="width: 110px;"><!-- 交易状态开始 -->
										<div class="orderStatus">
											<div class="orderStatusBox">
												<p>交易成功</p>
												<p>担保交易</p>
												<p>余额支付</p>
												<p>双方已评</p>
												<p><a href="" class="green">查看详情</a></p>
												<p>查看详情</p>
											</div>
										</div>
									</td><!-- 交易状态结束 -->
									<td class="listCont" style="width: 132px;">
										<div class="operate">
										<!-- 买家按钮 -->
											<span>等待卖家发货</span>
											<a href="javascript:;" class="payForBtn">付款</a>
											<a href="javascript:;" class="buyAgainBtn">再次购买</a>
											<input type="button" value="评价">
											<input type="button" value="确认收货" class="confirmReceipt-btn">
											<input type="button" value="取消订单" class="Cancelorder">
											<!-- 卖家按钮 -->
											<input type="button" value="立即发货" class="sendGoods">
											<input type="button" value="评价">
											<input type="button" value="修改价格" class="modify">
											<input type="button" value="关闭订单" class="closeOrder">
										</div>
									</td>
									<td class="listCont" style="width: 16px;">
										<div class="printImg">
											<a href="打印机.html"><img src="__PUBLIC__\mall\PersonalCenter\FarmMallPersonal\JIC\Image\print.png" alt=""></a>
										</div>
									</td>
								</tr>
							</table><!-- 一个订单END -->
						</div>
					</form>
				</div>
			</div>
		</div>
	</section><!-- 主体内容结束 -->


</body>
</html>