<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="__PUBLIC__/mall/wuhelong/css/common.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/mall/wuhelong/css/seller.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/laydate/laydate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/layer/layer.js"></script>
	<!--[if IE]> 
	<script> 
	(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script src=”http://ie7-js.googlecode.com/svn/version/2.0(beta)/IE8.js” type=”text/javascript”></script>
	<![endif]-->
</head>
<body>
	<header><!-- 头部开始 -->
		<article class="headerTop clear">
			<section class="header-left"> <!-- 头部左边 未读消息 -->
				<a href="消息.html" class="message-title">
					<div><img src="__PUBLIC__/mall/wuhelong/images/messageImg3.png" alt="">未读消息<span class="fb messageNum">10</span></div></a>
					<ul class="messageBox hide">
							<li>
								<div>2015-05-05<i>10:53:48</i></div>
								<div><a href="消息.html" class="c6">发货啦！您购买的 <span class="green">梧宁®—梧宁梧宁梧宁梧宁梧宁</span></a></div>
							</li>
							<li>
								<div>2015-05-05<i>10:53:48</i></div>
								<div><a href="消息.html" class="c6">发货啦！您购买的 <span class="green">梧宁®—梧宁梧宁梧宁梧宁梧宁</span></a></div>
							</li>
							<li>
								<div>2015-05-05<i>10:53:48</i></div>
								<div><a href="消息.html" class="c6">发货啦！您购买的 <span class="green">梧宁®—梧宁梧宁梧宁梧宁梧宁</span></a></div>
							</li>
							<a href="消息.html" class="messageSet">设置</a>
							<a href="消息.html" class="messageAll">查看全部</a>
					</ul>
			</section>
			<section class="header-right"> <!-- 头部右边导航 -->
				<ul>
					<li style="display: none;">
						<a href="#" class="orange">登陆</a>
					</li>
					<li style="display: none;">
						<a href="#">注册</a>
					</li>
					<li class="list1">
						<a href="打印机.html" class="list-title">Hi,cehiyi</a>
						<ul class="list1-cont" style="display: none;">
							<li><a href="账户管理-我的财富.html">帐号管理</a></li>
							<li><a href="">退出登录</a></li>
						</ul>
					</li>
					<li class="list2">
						<a href="买家用户中心.html" class="list-title">我的订单</a>
						<ul class="list1-cont" style="display: none;">
							<li><a href="买家中心-已买到的商品.html">已买到的商品</a></li>
						</ul>
					</li>
					<li class="list3">
						<a href="#" class="list-title">收藏夹</a>
						<ul class="list1-cont" style="display: none;">
							<li><a href="买家中心-我的收藏-我收藏的商品.html">收藏的商品</a></li>
							<li><a href="买家中心-我的收藏-我收藏的商铺.html">商场的商铺</a></li>
						</ul>
					</li>
					<li class="list4">
						<a href="卖家中心.html" class="list-title">卖家中心</a>
						<ul class="list1-cont" style="display: none;">
							<li><a href="交易管理-已卖出的商品.html">卖出的商品</a></li>
							<li><a href="商品管理-出售中的商品.html">出售中的商品</a></li>
							<li><a href="客户管理-认证客户.html">认证客户</a></li>
							<li><a href="授信管理-授信关系.html">关系管理</a></li>
						</ul>
					</li>
					<li>
						<a href="#">帮助中心</a>
					</li>
					<li style="margin:0">
						<a href="javascript:void(0);" onclick="AddFavorite('百度','http://www.baidu.com')">收藏本站</a>
					</li>
					<li style="padding:0;margin-right: 0;">
						<p>服务热线：0571-87661678</p>
					</li>
				</ul>
			</section>
		</article>
		<div class="hr2" style="width: 100%;height: 0;border:1px solid #eeeeee;"></div>
		<article class="headerBottom clear">
			<section class="headerBottom-box">
			<section class="logo2"> <!-- 中农在线Logo -->
				<img src="__PUBLIC__/mall/wuhelong/images/logo2.png" alt="">
			</section>
			<section class="searchBox">   <!-- 搜索框 -->
				<form action="" method="">
					<div class="search-list">
						<ul class="serachBar">
							<div class="selected">商品</div>
							<li>商品</li>
							<li>厂家</li>
						</ul>
					</div>
					<input type="text" name="" id="" placeholder="输入关键字">  
					<input type="submit" name="" id="" value="搜索">
				</form>
				<div class="searchList">   <!-- 默认搜索商品 -->
					<ul>
						<li><a href="#">雅苒</a></li>
						<li><a href="#">诺普丰</a></li>
						<li><a href="#">怀农特</a></li>
						<li><a href="#">沃家福</a></li>
						<li><a href="#">康宽</a></li>
						<li><a href="#">福帅得</a></li>
					</ul>
				</div>
				<div class="goodsCar">   <!-- 购物车按钮 -->
					<a href="#">
						<img src="__PUBLIC__/mall/wuhelong/images/car.png" alt="">
						<p>购物车<span>0</span></p>
					</a>
				</div>
			</section>
			</section>
		</article>
		<article class="sellerNav clear">
			<dl class="clear">
				<dt><a href="">首页</a></dt>
				<dd><a href="">宁波金泰</a></dd>
				<dd><a href="">苍南永丰</a></dd>
				<dd><a href="">萧山农资</a></dd>
				<dd><a href="">浙北惠多利</a></dd>
				<dd><a href="">嘉兴金泰</a></dd>
			</dl>
			<div class="areaShops"> <!-- 区域商铺开始 -->
					<div class="shopTitle"><div >区域商铺</div></div>
					<div class="shopContent"> <!-- 区域商铺的显示内容 -->
						<form action="">
							<select id="aa">
								<option value="">北京省</option>
								<option value="">浙江省</option>
							</select>
							<select>
								<option value="">杭州市</option>
								<option value="">上海市</option>
							</select>
							<select>
								<option value="">滨江</option>
								<option value="">萧山</option>
							</select>
						</form>
						<dl>
							<dd>
								<a href="">
									<p>宁波金泰惠多利农资连锁公司</p>
									<span>
										<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
										<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
										<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
										<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
										<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
									</span>
								</a>
							</dd>
							<dd><a href=""><p>苍南县永丰农业生产资料有限公司</p>
								<span>
									<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
									<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
									<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
									<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
									<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
								</span></a></dd>
								<dd>
									<a href=""><p>杭州萧山农业生产资料有限公司</p>
										<span>
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
										</span></a>
									</dd>
									<dd><a href=""><p>杭州市农业生产资料有限公司</p>
										<span>
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
										</span></a></dd>
										<dd><a href=""><p>浙北惠多利农资销售有限公司</p>
											<span>
												<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
												<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
												<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
												<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
											</span></a></dd>
											<dd><a href=""><p>嘉兴市金泰农资有限公司</p>
												<span>
													<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">		
													<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
													<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt=""></span></a></dd>
													<dd><a href=""><p>浙江惠多利农资连锁有限公司</p>
														<span>
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
														</span>
													</a></dd>
													<dd><a href=""><p>建德市新安植保有限责任公司</p>
														<span>
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
															<img src="__PUBLIC__/mall/wuhelong/images/start2.png" alt="">
														</span></a></dd>
													</dl>
						<div class="changeBtn clear">
							<p style="text-align: right;"><a href=""><span>&lt;</span>上一页</a></p>
							<p style="float: right;"><a href=""><span>下一页</span>&gt;</a></p>
						</div>
					</div>
			</div><!-- 区域商铺结束 -->
		</article>
		<div class="sellerHr"></div>
	</header><!-- 头部结束 -->

	<section class="container"><!-- 主体内容开始 -->
		<div class="containerBox clear">
			<div class="leftPart"> <!-- 左边导航公共部分开始 -->
				<h4>卖家中心</h4>
				<dl>
					<dt>交易管理</dt>
					<dd><a href="" class="green">已卖出的商品</a></dd>
					<dd><a href="">评价管理</a></dd>
				</dl>
				<dl>
					<dt>商品管理</dt>
					<dd><a href="">发布商品</a></dd>
					<dd><a href="">出售中的商品</a></dd>
					<dd><a href="">仓库中的商品</a></dd>
					<dd><a href="">商品分类管理</a></dd>
				</dl>
				<dl>
					<dt>店铺管理</dt>
					<dd><a href="">查看我的商铺</a></dd>
					<dd><a href="">商铺设置</a></dd>
					<dd><a href="">掌柜推荐</a></dd>
					<dd><a href="">运费模板</a></dd>
					<dd><a href="">子账号设置</a></dd>
				</dl>
				<dl>
					<dt进货渠道</dt>
					<dd><a href="" >我代理的</a></dd>
					<dd><a href="">代理我的</a></dd>
				</dl>
				<dl>
					<dt>客户管理</dt>
					<dd><a href="">认证客户</a></dd>
					<dd><a href="">级别设置</a></dd>
				</dl>
				<dl>
					<dt>账户管理</dt>
					<dd><a href="">我的财富</a></dd>
					<dd><a href="">注册资料</a></dd>
					<dd><a href="">银行卡</a></dd>
				</dl>
				<dl>
					<dt>授信管理</dt>
					<dd><a href="">授信关系</a></dd>
					<dd><a href="">额度调整</a></dd>
					<dd><a href="">使用记录</a></dd>
				</dl>
			</div><!-- 左边导航公共部分结束 -->
			<div class="rightPart"> <!-- 右边主体内容 -->
				<div class="myPlace"> <!-- 所在位置开始 -->
					<span>当前位置:</span>
					<a href="">首页</a>
					<span>&gt;</span>
					<a href="">卖家中心</a>
					<span>&gt;</span>
					<a href="">已卖出的商品</a>
				</div> <!-- 所在位置结束 -->
				<div class="rightCont"> <!-- 右边的正文内容 -->
					<h3>已卖出的商品</h3>
					<form action="">
						<div class="searchTitle">
							<label>交易状态:</label>
							<select class="select1">
								<option value="全部订单">全部订单</option>
								<option value="未付款订单">未付款订单</option>
								<option value="已付款订单">已付款订单</option>
							</select>
							<label>评价状态:</label>
							<select class="select1">
								<option value="全部">全部</option>
								<option value="未付款">未付款</option>
								<option value="已评价">已评价</option>
							</select>
							<div class="times">
								<span>下单时间:</span>
								<span><input type="text" class="laydate-icon" id="time1"></span>
								<span>-</span>
								<span><input type="text" class="laydate-icon" id="time2"></span>
							</div>
						</div>
						<div class="searchBox">
						<input type="text" name="" id=""  value="输入商品名称或者订单号进行搜索" placeholder="输入商品名称或者订单号进行搜索">
						<input type="button" value="搜索">
						</div>
						<div class="batch">
							<input type="checkbox" name="" id="" class="allCheck"><label>全选</label>
							<input type="button" value="批量发货">
						</div>
						<div class="tableBox">
							<dl class="tr1 clear">
								<dd style="width: 248px;">商品</dd>
								<dd style="width: 118px;">单价/数量</dd>
								<dd style="width: 82px;">总价</dd>
								<dd style="width: 90px;">运费</dd>
								<dd style="width: 120px;">实际收款</dd>
								<dd style="width: 122px;">交易状态</dd>
								<dd style="width: 146px;text-align: left;text-indent: 34px;">交易操作</dd>
							</dl>
							<table class="listBox"><!-- 一个订单开始 -->
								<tr style="width: 900px;height: 30px;"><!-- 订单标题 -->
									<th colspan="5">
										<a href="" class="listBox-title">
											<input type="checkbox" name="" id="">
											<span>1407241453498101</span>
											<span>2015-05-28 14:53:48 </span>
											<span>买家：王思聪</span>	
										</a>
										<div class="delet"><img src="__PUBLIC__/mall/wuhelong/images/delete.png" alt=""></div><!-- 删除图片 -->
									</th>
									
								</tr>
								<tr style="border-bottom: 1px solid #e4f7d4;">
									<td class="listCont listCont1" >
										<div class="goodsInfo"><!-- 商品信息Start -->
											<div class="goods1"> <!-- 单个商品的信息start -->
												<div><a href=""><img src="__PUBLIC__/mall/wuhelong/images/goods5.png" alt=""></a></div>
												<div class="goodsName">
													<p><a href="">克无踪克无踪克无踪克无踪克无踪克无踪克无踪克无踪</a></p>
													<span>规格:250ml</span>
												</div>
												<div class="price">
													<p>800.00</p>
													<p>x10</p>
												</div>
												<div class="goodsNum"><!-- 改价总价 -->
													<p class="goodsNum-txt">1000.00</p>
													<input onkeyup="if(this.value==this.value2)return;if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;" class="goodsNum-input">
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear"><span class="left">确定</span><span class="right">取消</span></div>
												</div><!-- 改价总价end -->
												<div class="shipment goodsNum"><!-- 改价运费 -->
													<p class="goodsNum-txt">10</p>
													<input onkeyup="if(this.value==this.value2)return;if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;" class="goodsNum-input">
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear">
														<span class="left">确定</span>
														<span class="right">取消</span>
													</div>
												</div><!-- 改价运费end -->
											</div><!-- 单个商品的信息end -->
											<div class="goods1"> <!-- 单个商品的信息start -->
												<div><a href=""><img src="__PUBLIC__/mall/wuhelong/images/goods5.png" alt=""></a></div>
												<div class="goodsName">
													<p><a href="">克无踪</a></p>
													<span>规格:250ml</span>
												</div>
												<div class="price">
													<p>800.00</p>
													<p>x10</p>
												</div>
												<div class="goodsNum">
													<p class="goodsNum-txt">1000.00</p>
													<input type="text" name="" id="" value="" class="goodsNum-input" >
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear"><span class="left">确定</span><span class="right">取消</span></div>
												</div>

												<div class="shipment goodsNum">
													<p class="goodsNum-txt">10</p>
													<input type="text" name="" id="" class="goodsNum-input">
													<div class="changeNum">改价</div>
													<div class="goodsNum-btn hide clear">
														<span class="left">确定</span>
														<span class="right">取消</span>
													</div>
												</div>
											</div><!-- 单个商品的信息end -->
										</div><!-- 商品信息end -->
									</td>
									<td class="listCont listCont2" style="width: 110px;"><!-- 实际收款开始 -->
										<div class="freight">
											<div class="freightBox">
												<p>1100.00</p>
												<p>(含运费:0.00)</p>
											</div>
										</div>
									</td><!-- 实际收款结束 -->
									<td class="listCont listCont3" style="width: 110px;"><!-- 交易状态开始 -->
										<div class="orderStatus">
											<div class="orderStatusBox">
												<p>交易成功</p>
												<p>担保交易</p>
												<p>余额支付</p>
												<p>双方已评</p>
												<p><a href="" class="green">查看详情</a></p>
												<p>查看详情</p>
											</div>
										</div>
									</td><!-- 交易状态结束 -->
									<td class="listCont" style="width: 132px;">
										<div class="operate">
											<input type="button" value="立即发货" class="sendGoods">
											<input type="button" value="评价">
											<input type="button" value="修改价格" class="modify">
											<input type="button" value="关闭订单" class="closeOrder">
										</div>
									</td>
									<td class="listCont" style="width: 16px;">
										<div class="printImg">
											<a href="打印机.html"><img src="__PUBLIC__/mall/wuhelong/images/print.png" alt=""></a>
										</div>
									</td>
								</tr>
							</table><!-- 一个订单END -->
							<table class="listBox"><!-- 一个订单开始 -->
								<tr style="width: 900px;height: 30px;"><!-- 订单标题 -->
									<th colspan="5" class="active">
										<a href="" class="listBox-title">
											<input type="checkbox" name="" id="">
											<span>1407241453498101</span>
											<span>2015-05-28 14:53:48 </span>
											<span>买家：王思聪</span>	
										</a>
										<div class="delet"><img src="__PUBLIC__/mall/wuhelong/images/delete.png" alt=""></div><!-- 删除图片 -->
									</th>
									
								</tr>
								<tr style="border-bottom: 1px solid #e4f7d4;">
									<td class="listCont listCont1" >
										<div class="goodsInfo"><!-- 商品信息Start -->
											<div class="goods1"> <!-- 单个商品的信息start -->
												<div><a href=""><img src="__PUBLIC__/mall/wuhelong/images/goods5.png" alt=""></a></div>
												<div class="goodsName">
													<p><a href="">克无踪</a></p>
													<span>规格:250ml</span>
												</div>
												<div class="price">800.00</div>
												<div class="goodsNum">20</div>
												<div class="shipment">
													<p>10</p>
													<div class="changePrice">改价</div>
												</div>
											</div><!-- 单个商
											品的信息end -->
										</div><!-- 商品信息end -->
									</td>
									<td class="listCont listCont2" style="width: 110px;"><!-- 实际收款开始 -->
										<div class="freight">
											<div class="freightBox">
												<p>1100.00</p>
												<p>(含运费:0.00)</p>
											</div>
										</div>
									</td><!-- 实际收款结束 -->
									<td class="listCont listCont3" style="width: 110px;"><!-- 交易状态开始 -->
										<div class="orderStatus">
											<div class="orderStatusBox">
												<p>交易成功</p>
												<p>担保交易</p>
												<p>余额支付</p>
												<p>双方已评</p>
												<p><a href="" class="green">查看详情</a></p>
												<p>查看详情</p>
											</div>
										</div>
									</td><!-- 交易状态结束 -->
									<td class="listCont" style="width: 132px;">
										<div class="operate">
											<input type="button" value="立即发货" class="sendGoods">
											<input type="button" value="评价">
											<input type="button" value="修改价格" class="modify">
											<input type="button" value="关闭订单" class="closeOrder">
										</div>
									</td>
									<td class="listCont" style="width: 16px;">
										<div class="printImg">
											<a href="打印机.html"><img src="__PUBLIC__/mall/wuhelong/images/print.png" alt=""></a>
										</div>
									</td>
								</tr>
							</table><!-- 一个订单END -->
							<table class="listBox"><!-- 一个订单开始 -->
								<tr style="width: 900px;height: 30px;"><!-- 订单标题 -->
									<th colspan="5">
										<a href="" class="listBox-title">
											<input type="checkbox" name="" id="">
											<span>1407241453498101</span>
											<span>2015-05-28 14:53:48 </span>
											<span>买家：王思聪</span>	
										</a>
										<div class="delet"><img src="__PUBLIC__/mall/wuhelong/images/delete.png" alt=""></div><!-- 删除图片 -->
									</th>
									
								</tr>
								<tr style="border-bottom: 1px solid #e4f7d4;">
									<td class="listCont listCont1" >
										<div class="goodsInfo"><!-- 商品信息Start -->
											<div class="goods1"> <!-- 单个商品的信息start -->
												<div><a href=""><img src="__PUBLIC__/mall/wuhelong/images/goods5.png" alt=""></a></div>
												<div class="goodsName">
													<p><a href="">克无踪克无踪克无踪克无踪克无踪克无踪克无踪克无踪</a></p>
													<span>规格:250ml</span>
												</div>
												<div class="price">800.00</div>
												<div class="goodsNum">20</div>
												<div class="shipment">
													<p>10</p>
													<div class="changePrice">改价</div>
												</div>
											</div><!-- 单个商品的信息end -->
											<div class="goods1"> <!-- 单个商品的信息start -->
												<div><a href=""><img src="__PUBLIC__/mall/wuhelong/images/goods5.png" alt=""></a></div>
												<div class="goodsName">
													<p><a href="">克无踪</a></p>
													<span>规格:250ml</span>
												</div>
												<div class="price">800.00</div>
												<div class="goodsNum">20</div>
												<div class="shipment">
													<p>10</p>
													<div class="changePrice">改价</div>
												</div>
											</div><!-- 单个商品的信息end -->
										</div><!-- 商品信息end -->
									</td>
									<td class="listCont listCont2" style="width: 110px;"><!-- 实际收款开始 -->
										<div class="freight">
											<div class="freightBox">
												<p>1100.00</p>
												<p>(含运费:0.00)</p>
											</div>
										</div>
									</td><!-- 实际收款结束 -->
									<td class="listCont listCont3" style="width: 110px;"><!-- 交易状态开始 -->
										<div class="orderStatus">
											<div class="orderStatusBox">
												<p>交易成功</p>
												<p>担保交易</p>
												<p>余额支付</p>
												<p>双方已评</p>
												<p><a href="" class="green">查看详情</a></p>
												<p>查看详情</p>
											</div>
										</div>
									</td><!-- 交易状态结束 -->
									<td class="listCont" style="width: 132px;">
										<div class="operate">
											<input type="button" value="立即发货" class="sendGoods">
											<input type="button" value="评价">
											<input type="button" value="修改价格" class="modify">
											<input type="button" value="关闭订单" class="closeOrder">
										</div>
									</td>
									<td class="listCont" style="width: 16px;">
										<div class="printImg">
											<a href="打印机.html"><img src="__PUBLIC__/mall/wuhelong/images/print.png" alt=""></a>
										</div>
									</td>
								</tr>
							</table><!-- 一个订单END -->
						</div>
					</form>
				</div>
				<div class="pageBox"> <!-- 分页开始 -->
					<dl>
						<dd><a href=""><</a></dd>
						<dd ><a href="">1</a></dd>
						<dd class="active"><a href="">2</a></dd>
						<dd><a href="">3</a></dd>
						<dd><a href="">4</a></dd>
						<dd><a href="">5</a></dd>
						<dd><a href="">6</a></dd>
						<dd>...</dd>
						<dd><a href="">33</a></dd>
						<dd><a href="">34</a></dd>
						<dd><a href="">></a></dd>
						<dd class="pageBtn">
							<p>到第
								<input type="text" name="" id="" value="15">页
								<input type="button" value="确定">
							</p>
						</dd>
					</dl>
				</div><!-- 分页结束 -->
			</div>
		</div>
	</section><!-- 主体内容结束 -->

	<footer style="border:none;background: #f5f5f5;"><!-- 脚部开始 -->
		<div style="width: 100%;background: #fff">
			<ul class="clear sellerTop">
				<li class="footLi01">
					<div></div>
					<span>配送服务</span>
				</li>
				<li class="footLi02">
					<div></div>
					<span>售后服务保证</span>
				</li>
				<li class="footLi03">
					<div></div>
					<span>产品质量保证</span>
				</li>
				<li class="footLi04">
					<div></div>
					<span>多种支付方式</span>
				</li>
				<li class="footLi05">
					<div></div>
					<span>特约商家</span>
				</li>
			</ul>
		</div>
		<ul class="aboutUs clear ">
				<li>
					<p>关于我们</p>
					<p>会员服务</p>
				</li>
				<li>
					<p>招商代理</p>
					<p>广告服务</p>
				</li>
				<li>
					<p>帮助中心</p>
					<p>意见和建议</p>
				</li>
				<li>
					<p>汇款方式</p>
					<p>联系方式</p>
				</li>
				<li>
					<p>友情链接</p>
					<p>商家入驻</p>
				</li>
		</ul>
		<section class="footnote clear" style="border:none">
			<p>© &nbsp;2015 &nbsp;网上农资商城&nbsp; 版权所有，&nbsp;并保留所有权利</p>
			<p>增值电信业务经营许可证:浙B2-20150086</p>
		</section> 
	</footer><!-- 脚部结束 -->
	
<script type="text/javascript">

// 日历1
laydate({
   elem: '#time1',  
});

// 日历2
laydate({
   elem: '#time2',
});

$(document).ready(function(){
	
	$(".sendGoods").click(function(){  //立即发货按钮弹出
	layer.open({
		    type: 1,
		    title:false,
		    skin: 'layer-sendBox', //样式类名
		    closeBtn: 0, //不显示关闭按钮
		    shift: 0,
		    area: ['480px', '220px'],
		    shadeClose: false, //开启遮罩关闭
		    content: '<div class="sendCont"><p class="sendTitle">买家已付款，请指定业务员后再确认是否发货</p><div class="sendAds pupopItem"><lebal class=popupText180>指定业务员：</lebal><div id="dropdown" style="width:170px;position:fixed;"> <p class="drpP" style="width:160px;background-position-x: 150px;">王思聪</p> <ul style="width:170px;"> <li data-value="1">王世聪</li>  <li data-value="2">王思聪</li> <li data-value="3">王思聪</li> <li data-value="4">王思聪</li> <li data-value="5">王思聪</li> </ul> </div></div><p class="sendBtns margin40"><lebal class=popupText180>买家已付款，确认发货：</lebal><input type="button" value="确认" class="sendBtn1"><input type="button" value="取消" class="sendBtn2"></p></div>',
		    success:function(){
		    	$(".sendBtn2").click(function(){ //取消按钮
		    		layer.closeAll('page');
		    	});
		    	$(".sendBtn1").click(function(){ //确定按钮
		    		layer.closeAll('page');
		    		alert("编辑成功！");
		    	});
		    }
		});
		//选择下拉框的弹出和隐藏
		$("#dropdown p").click(function(e){ 
			var ul = $("#dropdown ul"); 
			if(ul.css("display")=="none"){ 
				ul.slideDown("fast"); 
			}else{ 
				ul.slideUp("fast"); 
			} 
			e.stopPropagation();
			$(document).one("click", function(){
		        ul.hide();
		    });
		}); 	
		$("#dropdown ul li").click(function(){
			var val = $(this).text();
			var dataVal = $(this).attr("data-value");
			$("#dropdown p").html(val);
			$("#dropdown p").addClass("drpP");
			$("#dropdown ul").hide();
			console.log("中文值是："+val);
			console.log("数字值是："+dataVal);

		});
	});


	$(".modify").click(function(){  //修改价格按钮弹出
	layer.open({
		    type: 1,
		    title:false,
		    skin: 'layer-modify', //样式类名
		    closeBtn: 0, //不显示关闭按钮
		    shift: 0,
		    area: ['489px', '350px'],
		    shadeClose: false, //开启遮罩关闭
		    content: '<div class="modifyCont"><p style="margin: 10px 0 30px 20px;">修改订单号为 10012015060153824 的价格</p><p style="margin:15px 0 0 94px;" class="pupopItem">订单总金额：30000.00元</p><p style="margin:15px 0 0 80px;" class="pupopItem"><lebal>修改产品价格：</lebal><input type="text" name="" value="">&nbsp元</p><p style="margin:15px 0 0 80px;" class="pupopItem"><lebal>修改运费价格：</lebal><input type="text" name="" id="" />&nbsp元</p><p style="margin:15px 0 0 51px;" class="pupopItem">修改后订单总金额：50000.00元</p><p style="margin: 40px 0 40px 176px;"><input type="button" value="确认" class="modifyBtn1"><input type="button" value="取消" class="modifyBtn2"></p></div>',
		    success:function(){
		    	$(".modifyBtn2").click(function(){ //取消按钮
		    		layer.closeAll('page');
		    	});
		    	$(".modifyBtn1").click(function(){ //确定按钮
		    		
		    		layer.closeAll('page');
		    		alert("修改成功！");
		    	});
		    }
		});
	});

	$(".delet").click(function(){  //删除订单按钮弹出
		var id = $(this).parent('h4').find('a span').html();
		var _this = $(this).parent().parent();
	layer.open({
		    type: 1,
		    title:false,
		    skin: 'layer-delet', //样式类名
		    closeBtn: 0, //不显示关闭按钮
		    shift: 0,
		    area: ['490px', '152px'],
		    shadeClose: false, //开启遮罩关闭
		    content: '<div class="deletCont"><p style="margin: 10px 0 30px 20px;">交易完成，可删除无效订单，将不会产生任何影响</p><p style="margin:40px 0 40px 83px;"><label>确认删除此订单:</label><input type="button" value="确认" class="deletBtn1"><input type="button" value="取消" class="deletBtn2"></p></div>',
		    success:function(layero, index){
		    	$(".deletBtn2").click(function(){ //取消按钮
		    		layer.closeAll('page');
		    	});
		    	$(".deletBtn1").click(function(){ //确定按钮
		    		_this.remove();
		    		layer.closeAll('page');
		    		alert("删除成功！")
		    	});
		    }
		});
	});

	$(".closeOrder").click(function(){  //关闭订单按钮弹出
		_this = $(this).parent();
		_prev = _this.prev();
	layer.open({
		    type: 1,
		    title:false,
		    skin: 'layer-delet', //样式类名
		    closeBtn: 0, //不显示关闭按钮
		    shift: 0,
		    area: ['490px', '152px'],
		    shadeClose: false, //开启遮罩关闭
		    content: '<div class="deletCont"><p style="margin: 10px 0 30px 20px;">买家还未付款，确认关闭订单，此订单将失效</p><p style="margin:40px 0 40px 83px;"><label>确认关闭此订单:</label><input type="button" value="确认" class="closeBtn1"><input type="button" value="取消" class="closeBtn2"></p></div>',
		    success:function(layero, index){
		    	$(".closeBtn2").click(function(){ //取消按钮
		    		layer.closeAll('page');
		    	});
		    	$(".closeBtn1").click(function(){ //确定按钮
		    		_this.hide();
		    		_prev.html("<p>交易关闭</p>")
		    		layer.closeAll('page');
		    		alert("订单关闭成功！")
		    	});
		    }
		});
	});
	//改价功能
	$('.changeNum').click(function(){
		var txt = $(this).parent().find('.goodsNum-txt').text(); 
		$(this).hide();               		 				//改价按钮本身消失
		$(this).parent().find('.goodsNum-txt').hide();		//文字加个消失
		$(this).next().show();				 				//确定，取消按钮出现 
		$(this).prev().show();								//输入框出现
		$(this).prev().focus();				 				//输入框获取焦点
		$(this).prev().val(txt);							//输入框获取文字的内容
	});
	// 改价的确定功能
	$('.goodsNum-btn .left').click(function(){
		var v = $(this).parent().parent().find('.goodsNum-input'); 
		var txt1 =$(this).parent().parent().find('.goodsNum-txt');	
		var val = v.val();               							//输入框的值
		$(this).parent().hide();									//确定 取消按钮消失
		$(this).parent().parent().find('.goodsNum-input').hide();   //输入框消失
		$(this).parent().prev().show();								//改价按钮显示
		$(this).parent().parent().find('.goodsNum-txt').show();		//文字出现
		$(this).parent().parent().find('.goodsNum-txt').text(val);	//把输入框的内容替换到文字内
	});
	// 改价的取消功能
	$('.goodsNum-btn .right').click(function(){
		$(this).parent().hide();									//确定 取消按钮消失
		$(this).parent().parent().find('.goodsNum-input').hide();   //输入框消失
		$(this).parent().prev().show();								//改价按钮显示
		$(this).parent().parent().find('.goodsNum-txt').show();		//文字出现
	})

});
</script>


</body>
</html>