body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0; padding:0;} 
body, button, input, select, textarea { font:12px/1.5,tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var,i { font-style:normal; } 
code, kbd, pre, samp { font-family:"宋体",couriernew, courier, monospace; } 
small{ font-size:12px; }
ul, ol ,li{ list-style:none; } 
a { text-decoration:none;color: #333333; } 
a:hover { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
select {
	*background: none;
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/ 
  padding-right: 14px;
  padding-right: 0px\0;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
button,input, select, textarea { font-size:100%;vertical-align:middle;outline: none;} 
table { border-collapse:collapse; border-spacing:0; }
ul,dl{font-size:0;}
ul li,dl dd{
	font-size: 12px;
}
h4{
	color: #666666;
	font-size: 14px;
}
.green{
	color: #589325;
}
.blue{
	background: #f5f8fa;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.fh{
	font-family: '黑体';
}
.f25{
	font-size: 25px;
}
.orange{
	color: #ff6600;
}
.fb{
	font-weight: bolder;
}
.c3{
	color: #333;
}
.c6{
	color: #666;
}
.c9{
	color: #999;
}
.cf{
	color: #fff;
}
.rightzero{
	margin-right: 0;
}
label{
	font-size: 14px;
	color: #666666;
}
input[type=text],select,input[type=password]{
	border: 1px solid #e5e5e5;
}
input[type=text],textarea,select,input[type=password]{
	padding-left: 5px;
	box-sizing:border-box;
}
::-webkit-input-placeholder{
	color: #d1d1d1;
	font-size: 12px;
}
select{
	font-size: 12px;
	color: #333;
}
input[type=button],input[type=submit]{cursor: pointer;}
header, footer, nav, section, article{ display:block;} 
.clear:after{
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
.hide{display: none;}
.show{display: block;}
/*公共部分的头部*/
.header{
	width: 100%;
	background: #fff;
}
.header .header-wrap{
	width: 100%;
	height: 100px;
	background: #599524;
}
.header-wrap .header-top{
	width: 1192px;
	margin:0 auto;
	clear: both;
}
.header-wrap .header-top .left{
	float: left;
}
.header-wrap .header-top .right{
	float: right;
}
.header-wrap .header-top .right .ul1 li{
	float: right;
	color: #fff;
	font-size: 12px;
	margin-left: 28px;
	margin-top: 10px;
	margin-bottom: 26px;
	cursor: pointer;
}
.header-wrap .header-top .right .ul1 li.name{
	background: url(../images/bj.png) no-repeat;
    background-position: -153px -4px;
    padding-right: 19px;
}
.header-wrap .header-top .right .ul2 li{
	float: right;
	font-size: 12px;

}
.header-wrap .header-top .right .ul2 li a{
	color: #000;
}
.header-wrap .header-top .right .ul2 li span{
	margin:0 12px;
}
.header-nav{
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	height: 50px;
	line-height: 50px;
	background: #fff;
}
.header-nav .navCont{
	width: 1192px;
	margin:0 auto;
	padding-left: 226px;
	box-sizing:border-box;
}
.header-nav .navCont a{
	float: left;
	padding:0 32px;
}
.header-nav .navCont a.active1{
	background:#ff6600;
	color: #fff;
}
.header-nav .navCont a span.active2{
	display: block;
	background: url(../images/bsnav.png) no-repeat;
	background-position:center 41px;
	height: 51px;
}