<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/Common/Css/common.css" type="text/css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/NZPersonal/Css/seller.css" type="text/css">
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/common.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/footer.js"></script>
	<!--[if IE 8.0]><link href="{$Think.config.STYLE_URL}/Common/Css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="containarWrap clear">
			<include file = "Public/FarmMallSellerLeft"/>
			<div class="rightBar"><!-- 右边内容开始 -->
				<div class="rightPart"> <!-- 右边主体内容 -->
					<div class="titles clear">
						<h3>Hi! 我是卖家</h3>
						<a href="">进入买家中心></a>
					</div>

					<div class="rightCont" style="min-height: 485px;"> <!-- 右边的正文内容 -->
						<h3>运费模版</h3>
						<h2 class="freightTemplate-title">新增运费模版，选择是否包邮，填写相对应的价格</h2>
						<!-- 模板内容 -->
						<form action="" method="" class="freightTemplate-box">
							<div class="freightTemplate-list1">
								<label for="">模板名称：</label>
								<input type="text" placeholder="您可以按照物品重量和体积来命名，如:小于一公斤的物品" class="templateName">
							</div>
							<div class="freightTemplate-list1">
								<label for="">计价方式：</label>
								<div class="selectBox">
									<select name="" id="">
										<option value="">重量</option>
										<option value="">体积</option>
									</select>
								</div>
							</div>
							<div class="freightTemplate-list1">
								<label for="">是否包月：</label>
								<div class="selectBox">
									<select name="" id="">
										<option value="">是</option>
										<option value="">否</option>
									</select>
								</div>
							</div>
							<div class="freightTemplate-list1">
								<label for="">配送费用：</label><span>除指定地区外，其他地区的费用采用"默认运费"</span>
							</div>
							<div class="freightTemplate-list1  freightTemplate-default">
								<label for="">默认费用：</label>
								<input type="text" name="" id=""><span >KG内，</span>
								<input type="text" name="" id=""><span>元，</span><span>每增加，</span>
								<input type="text" name="" id=""><span style="margin-right: 3px">KG内，运费增加</span>
								<input type="text" name="" id=""><span>元</span>
							</div>
							<button class="freightTemplate-btn">保存</button>
						</form>
						<!-- 模板内容结束 -->
					</div>
					<!-- 编辑模版 -->
					<div class="rightCont freightTemplate-bottom" style="min-height: 485px;">
						<div class="freightTemplate-bottomTitle"><input type="checkbox" name="" id="checkAll"><span>全选</span><input type="button" value="批量删除"></div>
						<table id="shipMent-table">
							<tr style="border:1px solid #e5e5e5;" id="tableHead">
								<th style="width: 117px;">模版名称</th>
								<th style="width: 130px;">配送区域</th>
								<th style="width: 122px;">运费承担方</th>
								<th style="width: 90px;">首重(kg)</th>
								<th style="width: 90px;">运费(元)</th>
								<th style="width: 90px;">续重(kg)</th>
								<th style="width: 90px;">运费(kg)</th>
								<th style="width: 95px;">操作</th>
								<th style="width: auto;"></th>
							</tr>
							<tr>
								<td class="td1">
									<input type="checkbox" name="" id=""><span>全国免运费</span>
								</td>
								<td>全国，港澳台除外</td>
								<td>买方</td>
								<td>1</td>
								<td>6.00</td>
								<td>1</td>
								<td>3.00</td>
								<td>
									<a href="" class="orange">编辑</a>
									<a href="" class="orange">删除</a>
								</td>
								<td class="cur set"><a href="#" class="orange">默认地址</a></td>
							</tr>
							<tr>
								<td class="td1">
									<input type="checkbox" name="" id=""><span>全国免运费</span>
								</td>
								<td>全国，港澳台除外2</td>
								<td>买方2</td>
								<td>1</td>
								<td>6.00</td>
								<td>1</td>
								<td>3.00</td>
								<td>
									<a href="" class="orange">编辑</a>
									<a href="" class="orange">删除</a>
								</td>
								<td class="cur set">设置默认</td>
							</tr>
						</table>	
					</div>
					<!-- 编辑模版结束 -->
				</div>
			</div><!-- 右边内容开始end -->
		</div>
	</section>
	<include file ="Public/CommonPersonalFooter"/>
<script type="text/javascript">
	$(document).ready(function(){
			$('#checkAll').click(function(){   //全选按钮
			if($(this).prop("checked")){
				$('table input[type=checkbox]').each(function(){
					$(this).prop("checked",true);
				})
			}else{
				$('table input[type=checkbox]').each(function(){
					$(this).prop("checked",false);
				})
			}
		})  //按钮结束

		$('.set').click(function(){   //设置默认地址
			var $par = $(this).parent();
			$par.fadeOut().fadeIn();
			$('#tableHead').after($par);
			$('.set').find('a').remove();
			$('.set').text('设置默认');
			$(this).html("<a href='#' class='orange'>默认地址</a>");
		})

		//单个复选框按钮
		$("#shipMent-table input[type=checkbox]").click(function(){
			var len = $("#shipMent-table input[type=checkbox]:checked").length;
			var len2 = $("#shipMent-table input[type=checkbox]").length;
			if($(this).prop("checked")){
				if(len == len2){
					$('#checkAll').prop("checked",true);
				}
			}else{
				$('#checkAll').prop("checked",false);
			}
		})
	})		
</script>
</body>
</html>