<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/Common/Css/common.css" type="text/css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/NZPersonal/Css/seller.css" type="text/css">
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/common.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/footer.js"></script>
		<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/layer/layer.js"></script>
	<!--[if IE 8.0]><link href="{$Think.config.STYLE_URL}/Common/Css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="__PUBLIC__/mall/wuhelong/IE8.js" type="text/javascript"></script>
	<![endif]-->
</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="containarWrap clear">
			<include file = "Public/FarmMallSellerLeft"/>
			<div class="rightBar"><!-- 右边内容开始 -->
				<div class="rightPart"> <!-- 右边主体内容 -->
					<div class="titles clear">
						<h3>Hi! 我是卖家</h3>
						<a href="">进入买家中心></a>
					</div>
					<!-- 右边的正文内容开始 -->
					<div class="rightCont creditAdjustment" style="min-height: 114px;"> 
						<h3 style="margin-bottom: 35px;">我代理的渠道</h3>
						<form action="" method="" class="myAgent-form">
							<div>
								<label for="">商品名称：</label>
								<input type="text" name="" id="" placeholder="填写商品名称">
								<label for="">商品编码：</label>
								<input type="text" name="" id="" placeholder="输入商品编码">
								<label for="">当前状态：</label>
								<div class="selectBox">
									<select name="" id="">
										<option value="">全部</option>
										<option value="">新申请</option>
										<option value="">审核通过</option>
									</select>
								</div>
							</div>
							<div style="margin-bottom: 35px;">
								<label for="">供应商名称：</label>
								<input type="text" name="" id="" placeholder="输入供应商名称">
								<label for="">供应商身份：</label>
								<div class="selectBox">
									<select name="" id="">
										<option value="">厂家</option>
										<option value="">合作社</option>
									</select>
								</div>
								<input type="button" value="搜索" style="margin-left: 45px;">
							</div>
						</form>
						<div class="creditRelations">
							<div class="box1">
								<ul class="clear">
									<li>新申请(2)</li>
									<li>审核中(47)</li>
									<li class="active">审核通过(316)</li>
									<li>拒绝(1)</li>
									<li>终止(9)</li>
								</ul>
							</div>
							<div class="showBox">
								<div class="showCont hide">
									<!-- 新申请 -->
									<div class="newReview">
										<table>
											<tr style="border:1px solid #e5e5e5;">
												<th style="width: 90px;">商品编号</th>
												<th style="width: 182px;">名称</th>
												<th style="width: 124px;">供应商</th>
												<th style="width: 106px;">供应商会员号</th>
												<th style="width: 104px;">供应商身份</th>
												<th style="width: 100px;">操作</th>
											</tr>
											<tr>
												<td>ZNZX200</td>
												<td>我是肥料一个，我是一个粉料号码</td>
												<td>浙江新农化工股份有线公司</td>
												<td>12344445656112</td>
												<td>厂家</td>
												<td class="restore">等待审核</td>
											</tr>
											<tr>
											<td>ZNZX200</td>
												<td>我是肥料一个，我是一个粉料号码</td>
												<td>浙江新农化工股份有线公司</td>
												<td>12344445656112</td>
												<td>厂家</td>
												<td class="restore">等待审核</td>
											</tr>
										</table>
										</div>
									<!-- 新申请结束 -->
								</div>
								<div class="showCont hide">
									<!-- 审核中 -->
									<div class="underReview">
										<table>
											<tr style="border:1px solid #e5e5e5;">
												<th style="width: 90px;">商品编号</th>
												<th style="width: 182px;">名称</th>
												<th style="width: 124px;">供应商</th>
												<th style="width: 106px;">供应商会员号</th>
												<th style="width: 104px;">供应商身份</th>
												<th style="width: 100px;">操作</th>
											</tr>
											<tr>
												<td>ZNZX200</td>
												<td>我是肥料一个，我是一个粉料号码</td>
												<td>浙江新农化工股份有线公司</td>
												<td>12344445656112</td>
												<td>厂家</td>
												<td class="restore">审核中</td>
											</tr>
											<tr>
											<td>ZNZX200</td>
												<td>我是肥料一个，我是一个粉料号码</td>
												<td>浙江新农化工股份有线公司</td>
												<td>12344445656112</td>
												<td>厂家</td>
												<td class="restore">审核中</td>
											</tr>
										</table>	
									</div>
									<!-- 审核中结束 -->
								</div>
								<div class="showCont show">
									<!-- 审核通过 -->
										<div class="passed">
											<table>
												<tr style="border:1px solid #e5e5e5;">
													<th style="width: 90px;">商品编号</th>
													<th style="width: 182px;">名称</th>
													<th style="width: 124px;">供应商</th>
													<th style="width: 106px;">供应商会员号</th>
													<th style="width: 104px;">供应商身份</th>
													<th style="width: 100px;">操作</th>
												</tr>
												<tr>
													<td>ZNZX200</td>
													<td>我是肥料一个，我是一个粉料号码</td>
													<td>浙江新农化工股份有线公司</td>
													<td>12344445656112</td>
													<td>厂家</td>
													<td class="orange fb restore active"><i class="f14">已引用</i></td>
												</tr>
												<tr>
												<td>ZNZX200</td>
													<td>我是肥料一个，我是一个粉料号码</td>
													<td>浙江新农化工股份有线公司</td>
													<td>12344445656112</td>
													<td>厂家</td>
													<td class="orange fb restore" onclick="confirmYes('引用商品后，商品将自动进入“仓库中的商品”','您确认要引用该订单么：')"><i class="f14">引用商品</i></td>
												</tr>
											</table>
										</div>
									<!-- 审核通过结束 -->
								</div>
								<div class="showCont hide">
									<!-- 终止 -->
										<div class="denys">
											<table>
												<tr style="border:1px solid #e5e5e5;">
													<th style="width: 90px;">商品编号</th>
													<th style="width: 182px;">名称</th>
													<th style="width: 124px;">供应商</th>
													<th style="width: 106px;">供应商会员号</th>
													<th style="width: 104px;">供应商身份</th>
													<th style="width: 100px;">操作</th>
												</tr>
												<tr>
													<td>ZNZX200</td>
													<td>我是肥料一个，我是一个粉料号码</td>
													<td>浙江新农化工股份有线公司</td>
													<td>12344445656112</td>
													<td>厂家</td>
													<td class="orange fb restore"><i class="f14">恢复</i></td>
												</tr>
												<tr>
												<td>ZNZX200</td>
													<td>我是肥料一个，我是一个粉料号码</td>
													<td>浙江新农化工股份有线公司</td>
													<td>12344445656112</td>
													<td>厂家</td>
													<td class="orange fb restore"><i class="f14">恢复</i></td>
												</tr>
											</table>
										</div>
									<!-- 终止结束 -->
								</div>
								<div class="showCont hide">
									<!-- 拒绝列表 -->
									<div class="terminationList">
										<table>
											<tr style="border:1px solid #e5e5e5;">
												<th style="width: 90px;">商品编号</th>
												<th style="width: 182px;">名称</th>
												<th style="width: 124px;">供应商</th>
												<th style="width: 106px;">供应商会员号</th>
												<th style="width: 104px;">供应商身份</th>
												<th style="width: 100px;">操作</th>
											</tr>
											<tr>
												<td>ZNZX200</td>
												<td>我是肥料一个，我是一个粉料号码</td>
												<td>浙江新农化工股份有线公司</td>
												<td>12344445656112</td>
												<td>厂家</td>
												<td class="orange fb restore"><i class="f14">重新申请</i></td>
											</tr>
											<tr>
												<td>ZNZX200</td>
												<td>我是肥料一个，我是一个粉料号码</td>
												<td>浙江新农化工股份有线公司</td>
												<td>12344445656112</td>
												<td>厂家</td>
												<td class="orange fb restore"><i class="f14">重新申请</i></td>
											</tr>
										</table>
									</div>
									<!-- 拒绝列表结束 -->
								</div>
							</div>
						</div>
					</div>
					<!-- 右边的正文内容结束 -->
				</div>
			</div><!-- 右边内容开始end -->
		</div>
	</section>
	<include file ="Public/CommonPersonalFooter"/>
	<script type="text/javascript">
		(function(){
			//卡片切换
			$('.creditRelations li').click(function(){
				$(this).addClass('active').siblings().removeClass('active');
				$('.showBox .showCont:eq('+$(this).index()+')').show().siblings().hide();
			});
		})();
	</script>
</body>
</html>