<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/Common/Css/common.css" type="text/css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/NZPersonal/Css/seller.css" type="text/css">
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/common.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/footer.js"></script>
	<!--[if IE 8.0]><link href="{$Think.config.STYLE_URL}/Common/Css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="containarWrap clear">
			<include file = "Public/FarmMallSellerLeft"/>
			<div class="rightBar"><!-- 右边内容开始 -->
				<div class="rightPart"> <!-- 右边主体内容 -->
					<div class="titles clear">
						<h3>Hi! 我是卖家</h3>
						<a href="">进入买家中心></a>
					</div>

					<div class="rightCont"> <!-- 右边的正文内容开始 -->
						<h3 style="margin-bottom: 35px;">仓库中的商品</h3>
						<!-- 右边内容输入框，按钮 -->
						<form action="" method="" class="goods-selling">
							<div class="goods-selling-btntop">
								<label for="">商品名称：</label><input type="text" placeholder="输入商品名称">
								<label for="">商品编码：</label><input type="text" placeholder="输入商品编码">
								<label for="">商品分类：</label>
								<div class="selectBox">
									<select>
										<option value="">全部</option>
										<option value="">农药</option>
										<option value="">杀虫剂</option>
									</select>
								</div>
							</div>
							<div class="goods-selling-btnmid">	
								<label for="" class="goods-selling-source">来源：</label>
								<div class="selectBox">
									<select>
										<option value="">全部</option>
										<option value="">农药</option>
										<option value="">杀虫剂</option>
									</select>
								</div>
								<input type="button" value="搜索" style="margin-left: 45px;">
							</div> 
							<div class="goods-selling-btnbom">
								<input type="checkbox" name="" id="checkAll">
								<label for="">全选</label>
								<input type="button" value="批量下架"><div class="selling-price-btn cur" id="showPrice">显示价格</span></div>
							</div>
							<!-- 商品列表table开始 -->
							<table class="goods-selling-table" id="gs-table">
								<tr style="border:1px solid #e2e5e5">
									<th style="width: 153px;">商品图片</th>
									<th style="width: 210px;">商品名称</th>
									<th style="width: 120px;">编号</th>
									<th style="width: 135px;">来源</th>
									<th style="width: 160px;">上架时间</th>
									<th style="width: 170px;">操作</th>
								</tr>
								<!-- 第一个商品展示列表 -->
								<tr>
									<td class="td1">
										<input type="checkbox" name="" id="">
										<a href="#" class="selling-imgs">
											<img src="__PUBLIC__/mall/personalCenter/FarmMallPersonal/JIC/Image/farmMallIndexGoods.png" alt="">
										</a>
									</td>
									<td class="td2">
										<a href="">道儿纯硫酸复合肥葡萄专用多功能棚膜果蔬钙肥</a>
										<span>已推荐</span>
									</td>
									<td>ZNZX85</td>
									<td>代理</td>
									<td>2015-05-26<i>14:48</i></td>
									<td class="td6">
										<a href="/home/FarmMallPersonal/sellerPost.html" class="orange">编辑商品</a>
										<a href="" class="orange">上架商品</a>
									</td>
								</tr>
								<tr class="infotr" id="infotr1" >
									<td colspan="6" class="infotd">
										<div class="infoWrap">
											<ul class="ul1 clear">
												<li>规格</li><li>重量/kg</li><li>库存</li><li>起定量</li><li>代理价/元</li><li>vip/元</li><li>大户/元</li><li>零售商/元</li><li>零售商/元零售商/元零售商/元零售商/元零售商/元</li><li>零售商/元</li><li>零售商/元</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li><li>4.00</li><li>4.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li><li>4.00</li><li>4.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li><li>4.00</li><li>4.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li><li>4.00</li><li>4.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li><li>4.00</li><li>4.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li><li>4.00</li><li>4.00</li><li>4.00</li>
											</ul>
										</div>
									</td>
								</tr>
								<!-- 第二个商品展示列表 -->
								<tr>
									<td class="td1">
										<input type="checkbox" name="" id="">
										<a href="#" class="selling-imgs">
											<img src="__PUBLIC__/mall/personalCenter/FarmMallPersonal/JIC/Image/farmMallIndexGoods.png" alt="">
										</a>
									</td>
									<td class="td2">
										<a href="">道儿纯硫酸复合肥葡萄专用多功能棚膜果蔬钙肥</a>
									</td>
									<td>ZNZX85</td>
									<td>代理</td>
									<td>2015-05-26<i>14:48</i></td>
									<td class="td6">
										<a href="" class="orange" >编辑商品</a>
										<a href="" class="orange" >上架商品</a>
									</td>
								</tr>
								<tr class="infotr" id="infotr2">
									<!-- <td></td> -->
									<td colspan="6" class="infotd">
										<div class="infoWrap">
											<ul class="ul1 clear">
												<li>规格</li><li>重量/kg</li><li>库存</li><li>起定量</li><li>代理价/元</li><li>vip/元</li><li>大户/元</li><li>零售商/元</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li>
											</ul>
											<ul class="ul2 clear">
												<li>40kg/包</li><li>40</li><li>1</li><li>1000</li><li>1.00</li><li>2.00</li><li>3.00</li><li>4.00</li>
											</ul>
										</div>
									</td>
								</tr>
							</table>
							<!-- 商品列表table结束 -->
						</form>	
					</div><!-- 右边的正文内容结束 -->
					<div class="pageBox"> <!-- 分页开始 -->
						<dl>
							<dd><a href=""><</a></dd>
							<dd ><a href="">1</a></dd>
							<dd class="active"><a href="">2</a></dd>
							<dd><a href="">3</a></dd>
							<dd><a href="">4</a></dd>
							<dd><a href="">5</a></dd>
							<dd><a href="">6</a></dd>
							<dd>...</dd>
							<dd><a href="">33</a></dd>
							<dd><a href="">34</a></dd>
							<dd><a href="">></a></dd>
							<dd class="pageBtn">
								<p>到第
									<input type="text" name="" id="" value="15">页
									<input type="button" value="确定">
								</p>
							</dd>
						</dl>
					</div><!-- 分页结束 -->
				</div>
			</div><!-- 右边内容开始end -->
		</div>
	</section>
	<include file ="Public/CommonPersonalFooter"/>
<script type="text/javascript">
	$(function(){
		//全选框效果
		$('#checkAll').click(function(){
			if($(this).prop("checked")){
				$('.goods-selling-table input[type=checkbox]').each(function(){
					$(this).prop("checked",true);
				})
			}else{
				$('.goods-selling-table input[type=checkbox]').each(function(){
					$(this).prop("checked",false);
				})
			}
		})

		//单个复选框效果
		$("#gs-table input[type=checkbox]").click(function(){
			var len = $("#gs-table input[type=checkbox]:checked").length;
			var len2 = $("#gs-table input[type=checkbox]").length;
			if($(this).prop("checked")){
				if(len == len2){
					$('#checkAll').prop("checked",true);
				}
			}else{
				$('#checkAll').prop("checked",false);
			}
		});

		//显示价格按钮
		$('.infotr').css('display','none');
		$('#showPrice').click(function(){
			if($(this).text() == "显示价格"){
				$(this).text("隐藏价格");
				$(this).removeClass('cur');
				$('.td1').css("border-right","1px solid #e5e5e5");
				$('.td1').attr('rowspan','2');
				$('.infotr').css('display',"");

				//显示价格栏目标题的li长度
				var liWidth = $('#infotr1 ul li').width();
				var liLength = $('#infotr1 .ul1 li').length;
				var w = 0;
				$('#infotr1 .ul1 li').each(function(){
					w += parseInt($(this).width());
					return w;
				})
				S = parseInt(liLength*10+100) + w;
				$('.infoWrap ul').css("width",S);
			}else{
				$(this).text("显示价格");
				$(this).addClass('cur');
				$('.td1').css("border-right","none");
				$('.infotr').css('display','none');
				$('.td1').removeAttr('rowspan');
			}
		})

		// 显示价格用于布局函数
		$('.infoWrap').scroll(function(){
			var top = $(this).scrollTop();
			$(this).find('.ul1').css("top",top);
		})
		
	})
</script>
</body>
</html>