<div class="leftBar"><!-- 左边导航公共部分 -->
				<div class="lb-head"><!-- 头像 -->
					<div class="lb-head-bj">
						<img src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/Image/lufei.jpg" alt="">
						<a href="" class="membrane">编辑资料</a><!-- 阴影 -->
					</div>
				</div><!-- 头像end -->
				<div class="lb-nav"><!-- 左边导航 -->
					<dl>
						<dt>交易管理</dt>
						<dd><a href="" class="active">已卖出的商品</a></dd>
						<dd><a href="">评价管理</a></dd>
					</dl>
					<dl>
						<dt>商品管理</dt>
						<dd><a href="">发布商品</a></dd>
						<dd><a href="">出售中的商品</a></dd>
						<dd><a href="">仓库中的商品</a></dd>
						<dd><a href="">商品分类管理</a></dd>
					</dl>
					<dl>
						<dt>商铺管理</dt>
						<dd><a href="">查看我的商铺</a></dd>
						<dd><a href="">商铺设置</a></dd>
						<dd><a href="">掌柜推荐</a></dd>
						<dd><a href="">运费模板</a></dd>
						<dd><a href="">子账号设置</a></dd>
					</dl>
					<dl>
						<dt>进货渠道</dt>
						<dd><a href="">我代理的</a></dd>
						<dd><a href="">代理我的</a></dd>
					</dl>
					<dl>
						<dt>客户管理</dt>
						<dd><a href="">认证客户</a></dd>
						<dd><a href="">级别设置</a></dd>
					</dl>
					<dl style="margin-bottom: 0px">
						<dt>授信管理</dt>
						<dd><a href="">授信关系</a></dd>
						<dd><a href="">额度调整</a></dd>
						<dd><a href="">使用记录</a></dd>
					</dl>
				</div><!-- 左边导航end -->
			</div><!-- 左边导航公共结束 -->