<div class="leftBar"><!-- 左边导航公共部分 -->
				<div class="lb-head"><!-- 头像 -->
					<div class="lb-head-bj">
						<img src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/Image/lufei.jpg" alt="">
						<a href="" class="membrane">编辑资料</a><!-- 阴影 -->
					</div>
				</div><!-- 头像end -->
				<div class="lb-nav"><!-- 左边导航 -->
					<dl>
						<dt>个人信息设置</dt>
						<dd><a href="" class="active">基本信息</a></dd>
						<dd><a href="">公司信息</a></dd>
						<dd><a href="">头像设置</a></dd>
					</dl>
					<dl>
						<dt>账户绑定</dt>
						<dd><a href="">邮箱绑定</a></dd>
						<dd><a href="">手机号码绑定</a></dd>
					</dl>
					<dl>
						<dt>账户安全</dt>
						<dd><a href="">安全中心</a></dd>
						<dd><a href="">登录密码</a></dd>
						<dd><a href="">支付密码</a></dd>
						<dd><a href="">实名账户</a></dd>
						<dd><a href="">安全保护问题</a></dd>
						<dd><a href="">银行卡管理</a></dd>
					</dl>
					<dl>
						<dt>帐户设置(管理员)</dt>
						<dd><a href="">已有账户</a></dd>
						<dd><a href="">添加账户</a></dd>
					</dl>
					<dl>
						<dt>消息设置</dt>
						<dd><a href="">消息设置</a></dd>
					</dl>
					<dl style="margin-bottom: 0px">
						<dt>界面设置</dt>
						<dd><a href="">自定义菜单</a></dd>
					</dl>
				</div><!-- 左边导航end -->
			</div><!-- 左边导航公共结束 -->