<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="__PUBLIC__/mall/css/vipdate.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/mall/js/jquery.1.11.3.min.js"></script>

	<!--[if IE]> 
	<script> 
	(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script type="text/javascript" src="__PUBLIC__/mall/js/IE8.js"></script>
	<![endif]-->
</head>
<body>
	<include file="Public:header"/>

	<section class="main-wrap">
		<h3>找回密码</h3>
		<img src="__PUBLIC__/mall/images/find-pwd4.png" class="pwd-path">
		<div class="main-form">
			<div class="item">
				<span> </span>
				<div class="find-ok">完成</div>
			</div>
			<div class="item">
				<span> </span>
				<a href="" class="form-btn">直接登录</a>
				<a href="" class="form-btn">进入商城首页</a>
			</div>
			<div class="item">
				<p style="font-size:12px;color:#333;padding:20px 0 0 0;text-align:center;">倒数 3 秒，将自动跳转到登录页</p>
			</div>
		</div>
	</section>
	
	<include file="Public:footer"/>
</body>
</html>