<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="__PUBLIC__/mall/wuhelong/css/vipdate.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/jquery.1.11.3.min.js"></script>

	<!--[if IE]> 
	<script> 
	(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script type="text/javascript" src="__PUBLIC__/mall/wuhelong/js/IE8.js"></script>
	<![endif]-->
</head>
<body>
	<include file="Public:header"/>

	<section class="main-wrap">
		<h3>会员验证</h3>
		<div class="main-form">
			<div class="email-pic fl" style="background:url(__PUBLIC__/mall/wuhelong/images/appealError.png) no-repeat right 0;"></div>
			<div class="email-text fl">
				<h4>验证邮件已发送失败！</h4>
				<p style="color:#ff6600;">（请检查邮箱地址是否输入正确）</p>
				<a href="membeiShip-choose.html" class="form-btn3" style="">返回</a>
			</div>
		</div>
	</section>

	<include file="Public:footer"/>

</body>
</html>