.headBox .lb-head{
	height: 108px;
	width: 108px;
	background:url(../Image/headPortrait.png) no-repeat center;
	margin-top: -32px;
	position: relative;
	margin-left: 40px;
}
.headBox .lb-head .lb-head-bj{
	height: 96px;
	width: 96px;
	background: #000;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
	top:6px;
	left: 6px; 
}
.headBox .lb-head .lb-head-bj img{
	width: 100%;
	height: 100%;
}
.headBox .lb-head .membrane{
	display: block;
	position: absolute;
	height: 97px;
	width: 96px;
	top:97px;
	left: 0px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 97px;
}