.rightBar input[type=text]{
	width: 250px;
	height: 33px;
	line-height: 33px;
	border:1px solid #e5e5e5;
	padding-left: 10px;
	box-sizing:border-box;
	color: #333;
}
::-webkit-input-placeholder{
	color: #999;
	font-size: 12px;
}
select{
	width: 75px;
	height: 35px;
	line-height: 35px;
	border:1px solid #e5e5e5;
}
.rightBar{
	width: 980px;
	float: right;
	background: #fff;
	border:1px solid #e5e5e5;
	padding:20px 0 0 20px;
	box-sizing:border-box;
	margin-top: 30px;
}
.smallTitle{
	height: 20px;
	line-height: 20px;
	padding-left: 14px;
	background: url(../../Common/Image/smallTitle.png) no-repeat;
	font-weight: bolder;
}
.ml{
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
}
/*安全中心*/
.rightBar .safeLv{
	height: 30px;
	width: 940px;
	background: #fdfbe9;
	padding-left: 15px;
	box-sizing:border-box;
	margin-top: 13px;
	line-height: 30px;
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
}
.rightBar .safeLv span{
	font-weight: bolder;
	color: #ff6600;
	margin:0 30px 0 10px;
}
.rightBar .safeLv i{
	color: #333;
}
.safeBox{
	width: 940px;

}
.safeBox li{
	width: 100%;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #e5e5e5;
}
.safeBox li+li+li+li+li{
	border:none;
}
.safeBox li img{
	vertical-align: middle;
	margin:0 45px 0 43px;
}
.safeBox li .right{
	margin-left: 33px;
	margin-right: 28px;
}
.safeBox li h5{
	display: inline;
	font-size: 20px;
	font-family: '微软雅黑';
	margin-right: 40px;
	vertical-align: middle;
}
.safeBox li span i{
	color: #ff6600;
	margin-left: 5px;
}
.safeBox li .now{
	margin-left: 20px;
	font-size: 12px;
	color: #599524;
}
.safeBox li .change{
	float: right;
	font-size: 12px;
	color: #559524;
	margin-right: 58px;
}
.safeBox li .btn{
	float: right;
	margin-right: 32px;
	border:1px solid #bef092;
	background: #f7fef0;
	text-align: center;
	line-height: 30px;
	height: 30px;
	display: inline-block;
	width: 76px;
	margin-top: 34px;
	color: #559524;
}
/*基本信息*/
.biWrap .smallTips{
	font-size: 12px;
	color: #999999;
	margin:20px 0 20px 12px;
}
.biWrap .smallTips span{
	color: #ff6600;
	margin:0 5px;
}
.bi-form .list{
	margin-bottom: 20px;
	font-size: 14px;
}
.bi-form label{
	display: inline-block;
	/*float: left;*/
	width: 155px;
	text-align: right;
	font-size: 14px;
	color: #666666;
}
.bi-form label i {
	color: #ff6600;
	margin-right: 5px;
}
.bi-form .list .nameTxt{
	font-size: 12px;
	color: #d1d1d1;
	margin-left: 10px;
}
.bi-form .list .sex{
	font-size: 14px;
	color: #666666;
	margin-left: -5px;
	margin-right: 16px;
}
.bi-form .list .timeTxt{
	font-size: 14px;
	color: #333333;
}
.bi-form .list .timeTip{
	font-size: 12px;
	color: #999999;
}
.bi-form .list .marriage{
	color: #666666;
	font-size: 14px;
	margin-left: -5px;
	margin-right: 16px;
}
.bi-form .list select{
	width: 102px;
	height: 34px;
}
.bi-form .list .ads{
	display: block;
	margin-top: 20px;
	margin-left: 162px;
}
.biSub{
 	width: 110px;
 	height: 50px;
 	background: #589325;
 	font-size: 16px;
 	color: #ffffff;
 	border:none;
 	margin:50px 0 70px 162px;
}
/*公司信息*/
.cyWrap{
	font-size: 14px;
}
.cyWrap .cyTitle{
	font-size: 14px;
	color: #589325;
	margin-bottom: 20px;
}
.cyForm .list{
	margin-bottom: 20px;
	color: #666666;
	font-size: 14px;
}
.cyForm .list label{
	display: inline-block;
	width: 160px;
	text-align: right;
}
.cyForm .list textarea{
	border-color:#e5e5e5;
	padding-top: 10px;
	box-sizing:border-box;
	min-height: 100px;
	max-height: 100px;
	max-width: 400px;
	min-width: 400px;
	vertical-align: top;
}
.cyForm .list .range{
	margin-top: 10px
}
.cyForm .list .photo{
	margin-top: 10px;
}
.cyForm .list .upBox{
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.cyForm .list .upBox .upCont{
	display: inline-block;
	width: 100px;
	height: 100px;
	border:1px dashed #e5e5e5;
	text-align: center;
	line-height: 100px;
	font-size: 100px;	
	color: #e5e5e5;
}
.cyForm .list .upBox span{
	display: block;
	font-size: 12px;
	color: #d1d1d1;
	margin-top: 10px;
}
.cyForm .list .upBox .img1{
	position: absolute;
	bottom: 28px;
	left: 80px;
	cursor: pointer;
}
.cyForm .list .upBox .img2{
	position: absolute;
	bottom: 28px;
	left: 5px;
	cursor: pointer;
}
/*邮箱绑定，手机绑定*/
.emForm{
	margin-top: 50px;
}
.emForm .list{
	margin-bottom: 20px;
}
.emForm .list label{
	display: inline-block;
	width: 154px;
	text-align: right;
	font-size: 14px;
	color: #666;
}
.emForm .list .emCode{
	width: 130px;
}
.list .emBtn{
	width: 130px;
	height: 35px;
	border:1px solid #e5e5e5;
	font-size: 12px;
	color: #333333;
	background: #f5f5f5;
}
.emForm .list .code{
	width: 130px;
}
.emForm .list .codeImg{
	display: inline-block;
	width: 88px;
	height: 35px;
	overflow: hidden;
	vertical-align: middle;
}
.emForm .list .codeTxt{
	font-size: 12px;
	color: #666;
}
.emForm .list .codeTxt i{
	color: #599524;
	margin-left: 3px;
}
.emForm .list .yes{
	margin-left: -5px;
	vertical-align: middle;
	margin-right: 15px;
}
/*登录密码设置*/
.logoForm{
	margin-top: 40px;
}
.logoForm .list{
	margin-bottom: 20px;
}
.logoForm .list label{
	display: inline-block;
	width: 154px;
	text-align: right;
}
.logoForm .numTitle span{
	font-size: 14px;
	color: #333;
	font-weight: bolder;
	letter-spacing: 1px;
}
.logoForm .numTitle i{
	font-size: 12px;
	color: #999999;
	margin-left: 20px;
}
.logoForm .list .code{
	width: 130px;
}
.logoForm .list .pwdTip{
	font-size: 12px;
	color: #d1d1d1;
}
.logoForm .list .imgCode{
	display: inline-block;
	border:1px solid #e5e5e5;
	width: 100px;
	height: 35px;
	vertical-align: middle;
}
.logoForm .list .codeTxt{
	font-size: 12px;
	color: #666666;
}
.logoForm .list .codeTxt i{
	color: #599524;
}
/*实名账户*/
.realName{

}
.rlTitle{
	font-size: 12px;
	color: #999;
	margin:17px 0 22px 12px;
}
.rlForm .list{
	margin-bottom: 20px;
}
.rlForm .list label{
	display: inline-block;
	width: 150px;
	text-align: right;
	font-size: 14px;
	color: #666666;
}
.rlForm .list .change{
	color: #589325;
	font-size: 12px;
	margin-left: 24px;
}
/*安全保护问题*/
.saTitle{
	font-size: 12px;
	color: #999999;
	margin:17px 0 20px 15px;
}
.saForm {

}
.saForm .list{ 
	margin-bottom: 20px;
}
.saForm .list label{
	display: inline-block;
	width: 150px;
	text-align: right;
	font-size: 14px;
	color: #666666;
}
.saForm .list select{
	width: 250px;
	color: #d1d1d1;
}
/*添加银行卡*/
.bcUl{
	margin-left: 15px;
}
.bcUl li{
	float: left;
	border:1px solid #e5e5e5;
	width: 340px;
	height: 108px;
	margin-right: 30px;
	margin-bottom: 20px;
}
.bcUl li .top{
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #e5e5e5;
}
.bcUl li .top .bankImg{
	display: inline-block;
	width: 21px;
	height: 21px;
	vertical-align: middle;
	margin:-2px 0px 0 10px;
}
.bcUl li .top .bankName{
	margin-right: 15px;
}
.bcUl li .top .bankType{
	vertical-align: middle;
	margin-top: -3px;
}
.bcUl li .top a{
	float: right;
	font-size: 12px;
	color: #999;
	margin-right:7px; 
}
.bcUl li .bottom{
	font-size: 12px;
	color: #999;
	text-indent: 10px;
	padding-top: 10px;
	box-sizing:border-box;
	line-height: 21px;
}
.bcUl li.add{
	border:1px solid #abc992;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.bcUl li.add img{
	display: block;
	margin: 30px auto 10px;
}
/*gaoyuqi16-4-26 to 已有账户 添加账户 消息设置*/
.addAccount{
	margin-left:14px;
	margin-bottom: 100px;
}
.tipTittle{
	font-size: 14px;
	line-height: 20px;
	color: #666;
	padding-top: 12px;
}
.vipFormItem{
	overflow:hidden;
	margin-top: 20px;
}
.vipFormItem .formText, 
.vipFormItem .formInput, 
.vipFormItem .switchBtn, 
.vipFormItem .checkBtn, 
.vipFormItem .submitBtn{
	display:block;
	float:left;
}
.vipFormItem .formText{
	width:144px;
	height: 35px;
	line-height: 35px;
	text-align:right;
}
.vipFormItem .formInput{
	width: 250px;
	height: 33px;
	border:1px solid #e5e5e5;
	line-height: 35px;
	padding-left: 10px;
}
.vipFormItem .checkBtn{
	padding-top: 8px;
	overflow: hidden;
}
.vipFormItem .checkBtn span{
	display: inline-block;
	width:60px;
	height:14px;
	margin-left: 5px;
}
.vipFormItem .checkBtn input{
    
}
.vipFormItem .checkBtn label{
	font-size:14px;
	color: #333;
}
.vipFormItem .submitBtn{
	width:110px;
	height:50px;
	line-height:50px;
}
.vipFormItem .submitBtn, .existingAccount .clickAdd{
	color: #fff;
	background: #589325;
	font-size:16px;
	font-weight:bold;
	text-align: center;
	margin-top:50px;
}
.vipFormItem>label{font-size: 12px;color:#333;line-height:35px;}
.existingAccount{margin-bottom: 100px;}
.ulForm{width:940px;margin-top:30px;}
.ulForm li {
	width:100%;
	font-size:12px;
	color:#666;
	padding-left: 12px;
}
.ulForm .liTh{
	height:30px;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	font-weight: bold;
	line-height: 32px;
}
.ulForm .liTr{
	height:52px;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	line-height: 52px;
	border-left: 1px solid #fff;
}
.ulForm .liTr .row08{text-indent: 1px;}
.ulForm li span{display:block;text-align: left;float:left;}
.ulForm li .row01{width:122px;}
.ulForm li .row02{width:76px;}
.ulForm li .row03{width:110px;}
.ulForm li .row04{width:144px;}
.ulForm li .row05{width:98px;}
.ulForm li .row06{width:96px;}
.ulForm li .row07{width:96px;}
.ulForm li .row08{width:74px;}
.ulForm li .row09{}
.ulForm li .btnCheck{line-height: 0;margin-top:18px;}
.ulForm li span a{
	width:15px;
	height: 18px;
	margin-right: 20px;
	display: inline-block;
	background-image: url(../../Common/Image/operateImg.png);
	background-repeat:  no-repeat;
}
.modityBtn{background-position: 0 2px;}
.lockBtnYes{background-position: 0 -25px;}
.lockBtnNo{background-position: 0 -80px;}
.deletBtn{background-position: 0 -52px;}
.existingAccount .clickAdd{
	width:170px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin-left: 10px;
}
.infoSet{
	margin: 4px 0 100px 14px;
}
.promptMessage{
	font-size: 12px;
	color: #666;
	padding: 15px 0;
}
.infoSetItem{
	margin-top: 32px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.infoSetItem>strong, .infoSetItem>p, .infoSetItem>.switchBtn,{display: block;float: left;}
.nameTxt>.switchBtn{display: inline-block;}
.infoSetItem>strong{
	width: 80px;
	font-size: 14px;
	color: #666;
}
.infoSetItem>p{
	width: 590px;
	font-size: 12px;
	color: #999;
}
.infoSetItem>.setUP{color:#599524;font-size: 12px;margin-left: 90px;}

/*切换按钮01*/
.infoSetItem>.switchBtn{
	width:75px;
	height:20px;
}
.vipFormItem>.switchBtn{
	width: 55px;
	height: 20px;
	margin: 7px 10px 0 20px;
}
.nameTxt>.switchBtn{
	width: 55px;
	height: 20px;
	vertical-align: middle;
    margin-top: -5px;
}
.switchBtn .multi-switch{width:100%;}
.switchBtn .multi-switch .switch-content{height:20px;border-radius:10px;background-color:#e5e5e5;}
.infoSetItem>.switchBtn .multi-switch .switch-content .switch-circle{width:45px;height:20px;/*border-radius:10px;background:#999;*/left:100%;margin-left:-45px;border-radius:0;}
.infoSetItem>.switchBtn .multi-switch .switch-content.active .switch-circle,
.infoSetItem>.switchBtn .multi-switch .switch-content.disable .switch-circle{
	background-image:url(../../Common/Image/switchBtn01.png);background-repeat: no-repeat;
}
.infoSetItem>.switchBtn .multi-switch .switch-content.active .switch-circle,
.nameTxt>.switchBtn .multi-switch .switch-content.active .switch-circle{/*background-color:#599524;*/background-position: right 0;left:40%;margin-left:0;}
.vipFormItem>.switchBtn .multi-switch .switch-content .switch-circle,
.nameTxt>.switchBtn .multi-switch .switch-content .switch-circle{width:35px;height:20px;/*border-radius:10px;background:#999;*/left:100%;margin-left:-45px;border-radius:0;}
.vipFormItem>.switchBtn .multi-switch .switch-content.active .switch-circle,
.vipFormItem>.switchBtn .multi-switch .switch-content.disable .switch-circle,
.nameTxt>.switchBtn .multi-switch .switch-content.active .switch-circle,
.nameTxt>.switchBtn .multi-switch .switch-content.disable .switch-circle{
	background-image:url(../../Common/Image/switchBtn02.png);background-repeat: no-repeat;
}
.vipFormItem>.switchBtn .multi-switch .switch-content.active .switch-circle{/*background-color:#599524;*/background-position: right 0;left:36%;margin-left:0;}
.switchBtn .multi-switch .switch-content.disable .switch-circle{left:0;margin-left:0;background-position: 0 -20px;}
.switchBtn .multi-switch .switch-content.initial .switch-circle{left:50%;margin-left:-22px;background-color:#fff;}
