/*公共部分的头部*/
body{
	background: #f9f9f9;
}
.header{
	width: 100%;
	background: #fff;
}
.header .header-wrap{
	width: 100%;
	height: 100px;
	background: #599524;
}
.header-wrap .header-top{
	width: 1192px;
	margin:0 auto;
	clear: both;
}
.header-wrap .header-top .left{
	float: left;
}
.header-wrap .header-top .right{
	float: right;
}
.header-wrap .header-top .right .ul1 li{
	float: right;
	color: #fff;
	font-size: 12px;
	margin-left: 28px;
	margin-top: 10px;
	margin-bottom: 26px;
	cursor: pointer;
}
.header-wrap .header-top .right .ul1 li.name{
	position: relative;
	margin-top: 0;
	height: 33px;
	line-height: 33px;
	margin-bottom: 0px;
	padding-left: 15px;
	box-sizing:border-box;
}
.header-wrap .header-top .right .ul1 li.name:hover,
.header-wrap .header-top .right .ul1 li.name:hover .nameCont,
.header-wrap .header-top .right .ul1 li.name .nameCont:hover{
	background: #3e7a0c;
}
.header-wrap .header-top .right .ul1 li.name img{
	margin-left: 10px;
	margin-right: 15px;
}
.header-wrap .header-top .right .ul1 li.name .nameCont{
	position: absolute;
	width: 100%;
	padding-top: 5px;
	box-sizing:border-box;
	left: 0px;
	display: none;
}
.header-wrap .header-top .right .ul1 li.name .nameCont a{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-indent: 15px;
	color: #fff;
}
.header-wrap .header-top .right .ul1 li.name .nameCont a:hover{
	background: #2c5a04;
}
.header-wrap .header-top .right .ul1 li a{
	color: #fff;
}
.header-wrap .header-top .right .ul2 li{
	float: right;
	font-size: 12px;

}
.header-wrap .header-top .right .ul2 li a{
	color: #000;
}
.header-wrap .header-top .right .ul2 li span{
	margin:0 12px;
}
.header-nav{
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	height: 50px;
	line-height: 50px;
	background: #fff;
}
.header-nav .navCont{
	width: 1192px;
	margin:0 auto;
	padding-left: 226px;
	box-sizing:border-box;
	font-size: 16px;
	color: #333;
}
.header-nav .navCont a{
	float: left;
	padding:0 32px;
}
.header-nav .navCont a.active1{
	background:#ff6600;
	color: #fff;
}
.header-nav .navCont a span.active2{
	display: block;
	background: url(../Image/headNavBj.png) no-repeat;
	background-position:center 41px;
	height: 51px;
}
/*左边导航部分*/
.containar{
	width: 100%;
	background: #f9f9f9;
}
.containar .containarWrap{
	width: 1190px;
	margin:0 auto;	
}
.containar .containarWrap .leftBar{
	float: left;
	width: 208px;
}
.leftBar .lb-head{
	height: 108px;
	width: 108px;
	background:url(../Image/headPortrait.png) no-repeat center;
	margin-top: -32px;
	position: relative;
	margin-left: 40px;
}
.leftBar .lb-head .lb-head-bj{
	height: 96px;
	width: 96px;
	background: #000;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
	top:6px;
	left: 6px; 
}
.leftBar .lb-head .lb-head-bj img{
	width: 100%;
	height: 100%;
}
.leftBar .lb-head .membrane{
	display: block;
	position: absolute;
	height: 97px;
	width: 96px;
	top:97px;
	left: 0px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 97px;
}
.leftBar .lb-nav{
	padding-left: 55px;
	padding-top: 22px;
}
.leftBar .lb-nav dt{
	font-size: 12px;
	color: #333;
	font-weight: bolder;
	margin-bottom: 9px;
}
.leftBar .lb-nav dd{
	margin-bottom: 9px;
	font-size: 12px;
}
.leftBar .lb-nav dd a{
	color: #666;
}
.leftBar .lb-nav dl{
	margin-bottom: 21px;
}
.leftBar .lb-nav dd a.active,
.leftBar .lb-nav dd a:hover{
	color: #ff6600;
}
/*底部*/
.footer{
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.footerWrap{
	width: 1190px;
	margin:0 auto;
	background: #f9f9f9;
	margin-top: 50px;
}
.footer dl dt{
	float: left;
	font-size: 14px;
	color: #666;
	font-weight: bolder;
}
.footer dl dd{
	float: right;
	font-size: 12px;
	margin-right: 25px;
}
.footer dl dd a{
	color: #666;
}
.footer dl dd:hover a{
	color:#ff6600; 
}
.footNav{
	text-align: center;
	padding-top: 50px;
}
.footNav ul{
	width: 490px;
	margin: 0 auto;
}
.footNav ul li{
	float: left;
}
.footNav ul li span{
	margin:0 9px;
}
.footNav ul li a{
	font-size: 12px;
	color: #333;
}
.footNav p{
	width: 240px;
	text-align: center;
	margin:0 auto;
	color: #666;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 10px;
	line-height: 20px;
}