<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/Common/Css/common.css" type="text/css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/NZPersonal/Css/seller.css" type="text/css">
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/common.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/footer.js"></script>
	<!--[if IE 8.0]><link href="{$Think.config.STYLE_URL}/Common/Css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="containerBox containarWrap clear">
			<include file = "Public/PersonalLeftMenu"/>
			<div class="rightPart rightBar"> <!-- 右边主体内容 -->
				<div class="myPlace"> <!-- 所在位置开始 -->
					
				</div> <!-- 所在位置结束 -->
				<div class="rightCont Editbankcard" style="min-height: 630px;"> <!-- 右边的正文内容开始 -->
					<h3>编辑银行卡</h3>
					<!-- 右边内容输入框，按钮 -->
					<h2 class="titleH2">仅限持卡人本人操作，请如实填写以下信息用于实名身份验证</h2>
					<form action="" method="">
						<div>
							<label for="">选择开户银行：</label>
							<div class="selectBox">
								<select name="" id="">
									<option value="">农业银行</option>
									<option value="">11</option>
								</select>
							</div>
						</div>
						<div>
							<label for="">银行卡类型：</label>
							<div class="selectBox">
								<select name="" id="" class="select2">
									<option value="">信用卡</option>
									<option value="">储蓄卡</option>
								</select>
							</div>
						</div>
						<div>
							<label for="">开户名：</label>
							<input type="text" placeholder="xx有限公司">
						</div>
						<div>
							<label for="">开户行支行：</label>
							<input type="text" placeholder="xx支行">
						</div>
						<div>
							<label for="">银行卡号码：</label>
							<input type="text" placeholder="1111 *** *** 2222"> 
						</div>
			 			<div>
							<label for="">手机号码：</label>
							<input type="text" placeholder="15306528528">
							<span class="msg"></span>
						</div>
						<div>
							<label for="">效验码：</label>
							<input type="text" name="" id="" class="Editbankcard-codetxts">
							<input type="button" value="获取验证码" class="Editbankcard-code" onclick="settime(this)">
						</div>
						<div>
							<input type="button" value="提交" class="Editbankcard-sub buttons">
						</div>
					</form>
				</div><!-- 右边的正文内容结束 -->
				<!-- 右边的正文内容开始 -->
				<div class="rightCont wealthRedtop-cont" style="min-height: 355px;">
					<h2>红包充值遇到问题：</h2>
					<h4>1.我还能用信用卡在商城购物么？</h4>
					<p>答：您在带有信用卡小标识的店铺购物，可以直接使用信用卡快捷（含卡通）、网银进行信用卡支付，支付限额为您的卡面额度。在没有信用卡标识的店铺购物时，您可以使用信用卡快捷（含卡通）、网银进行信用卡支付，月累计支付限额不超过500元。<a href="">查看使用说明</a></p>
					<h4>2.没有网上银行，怎么用银行卡充值？</h4>
					<p>答：储蓄卡用户，请使用储蓄卡快捷支付充值，开通后只需输入支付宝支付密码，即可完成充值。</p>
					<h4>3.怎样在网上开通储蓄卡快捷支付(含卡通)？</h4>
					<p>答：已支持国内大部分主流银行在线开通。在易宝支付填写信息后，根据页面引导在网上银行完成开通。<a href="">马上开通</a></p>
					<a href="" class="green f12">更多帮助</a>
				</div>
				<!-- 右边的正文内容结束 -->
			</div>
		</div>
	</section><!-- 主体内容结束 -->
	<include file ="Public/CommonPersonalFooter"/>
</body>
</html>