<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/css/common.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/JCI/css/vipSet.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/mall/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/footer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/mall/common/js/Validation.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/laydate/laydate.js"></script>
	<!--[if IE 8.0]><link href="__PUBLIC__/mall/wuhelong/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="__PUBLIC__/mall/wuhelong/IE8.js" type="text/javascript"></script>
	<![endif]-->
</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="containarWrap clear">
			<include file = "Public/PersonalLeftMenu"/>
			<div class="rightBar cyWrap"><!-- 右边内容 -->
				<div class="cyTitle">请填写真实的资料！</div>
				<form action="" class="cyForm">
					<div class="list">
						<label for="">公司名称:</label>
						<input type="text" name="" id="" onblur="comName(this)" onkeyup="comName(this)">
						<p class="errorMsg"></p>
					</div>
					<div class="list">
						<label for="">营业执照注册号:</label>
						<input type="text" name="" id="" onblur="bisLicense(this)" onkeyup="bisLicense(this)">
						<p class="errorMsg"></p>
					</div>
					<div class="list">
						<label for="" class="photo">营业执照副本照片:</label>
						<div class="upBox">
							<img src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/Image/delete.png" alt="" class="img1">
							<img src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/Image/search.png" alt="" class="img2">
							<div class="upCont">+</div>
							<span>单张图片最大不能超过1M，图片格式仅限：jpg, gif, png, jpeg</span>
						</div>
					</div>
					<div class="list">
						<label for="" class="range">经营范围:</label>
						<textarea placeholder="请用简短文字描述经营范围" cols="40" rows="" onblur="bisScope(this)" onkeyup="bisScope(this)"></textarea>
						<p class="errorMsg"></p>
					</div>
					<div class="list">
						<label for="">注册资本:</label>
						<input type="text" name="" id="" onkeyup="capital(this)" onblur="capital(this)">
						<p class="errorMsg"></p>
					</div>
					<div class="list">
						<label for="">注册地址:</label>
						<input type="text" name="" id="" onkeyup="loginAds(this)" onblur="loginAds(this)">
						<p class="errorMsg"></p>
					</div>
					<div class="list">
						<label for="">法人代表:</label>
						<input type="text" name="" id="" onblur="corporate(this)" onkeyup="corporate(this)">
						<p class="errorMsg"></p>
					</div>
					<div class="list">
						<label for="">成立时间:</label>
						<input type="text" name="" id="time1">
						<p class="errorMsg"></p>
					</div>
					<input type="submit" value="提交" class="biSub" id="sub">
				</form>
			</div><!-- 右边内容end -->
		</div>
	</section>	<!-- 主体内容end -->
	<include file ="Public/CommonPersonalFooter"/>
<script type="text/javascript">

		// 日历1
		laydate({
		   elem: '#time1',  
		});
		$('#sub').click(function(){
			$('input[type=text]').trigger('blur');
			// var len = $('.errorMsg').length;
			var txt = $('.errorMsg').text();
			if($('.errorMsg').text()!==''){
				return false;
			}else if($('#time1').val()==''){
				$('#time1').focus();
				alert('请输入成立时间');
				return false;
			}else{
				return true;

			}
		})
</script>
</body>
</html>