<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/css/common.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/JCI/css/vipSet.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/JCI/css/multi-switch.min.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/mall/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/Common/js/footer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/mall/PersonalCenter/CommonPersonalCenter/JCI/js/multi-switch.js"></script>
	<!--[if IE 8.0]><link href="__PUBLIC__/mall/wuhelong/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="__PUBLIC__/mall/wuhelong/IE8.js" type="text/javascript"></script>
	<![endif]-->
	<script type="text/javascript">
		$(function(){
			$('.multi-switch').multiSwitch();
		});
	</script>
</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="containarWrap clear">
			<include file = "Public/PersonalLeftMenu"/>
			<div class="rightBar emailWrap" style="height: 580px;"><!-- 右边内容 -->
				<div class="smallTitle">邮箱绑定</div>
				<form action="" class="emForm">
					<div class="list">
						<label for="">邮箱地址:</label>
						<input type="text" name="" id="">
						<span class="nameTxt"><div class="switchBtn"><input type="checkbox" class="multi-switch" unchecked-value="2" checked-value="1" value="1" /></div></span>
						<span class="c3 f12 ml">用于登录</span>
					</div>
					<div class="list">
						<label for="">请填写邮箱验证码:</label>
						<input type="text" name="" id="" class="emCode">
						<input type="button" value="发送邮箱验证码" class="emBtn">
						<a href="#" class="green f12">没有收到邮件?</a>
					</div>
					<div class="list">
						<label for="">验证码:</label>
						<input type="text" name="" id="" class="code">
						<img src="" alt="" class="codeImg">
						<span class="codeTxt">看不清楚<i >换一张</i></span>
					</div>
					<div class="list">
						<label for="">开启邮箱登录</label>
						<input type="radio" name="" id="">
						<span class="yes">是</span>
						<input type="radio" name="" id="">
						<span class="yes">否</span>
					</div>
					<input type="submit" value="保存" class="biSub">
				</form>
			</div><!-- 右边内容end -->
		</div>
	</section>	<!-- 主体内容end -->
	<include file ="Public/CommonPersonalFooter"/>
</body>
</html>