<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/Common/Css/common.css" type="text/css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/CommonPersonal/Css/vipSet.css" type="text/css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/Common/Js/jcrop/jquery.Jcrop.min.css" type="text/css">
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/common.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/footer.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/Validation.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/jcrop/jquery.Jcrop.min.js"></script>
	<!--[if IE 8.0]><link href="{$Think.config.STYLE_URL}/Common/Css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="__PUBLIC__/mall/wuhelong/IE8.js" type="text/javascript"></script>
	<![endif]-->
	<script type="text/javascript"> //判断ie8以下浏览器
		var flag = true; 
		var ua = navigator.userAgent.toLowerCase(); 
		if(navigator.userAgent.indexOf("MSIE")>0)  
		{   
		    if(navigator.userAgent.indexOf("MSIE 6.0")>0){   
		    	window.location.href="http:tip.html";
		    }   
		    if(navigator.userAgent.indexOf("MSIE 7.0")>0){  
		   	 	window.location.href="http:tip.html";
		    }   
		    if(navigator.userAgent.indexOf("MSIE 8.0")>0){  
		  		//alert("ie8");  
		    }   
		    if(navigator.userAgent.indexOf("MSIE 9.0")>0){  
		   		//alert("ie9");  
		    }   
		}else{  
			flag = false;  
			
			}   
		if(!flag){  

		}  
	</script>

</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="containarWrap clear">
			<include file = "Public/PersonalLeftMenu"/>
			<div class="rightBar"><!-- 右边内容 -->
				<div class="smallTitle c6 f14">头像设置</div>
				<div class="headSet-box">
					<script type="text/javascript" src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script> <!-- 引入上传图片插件 -->
					<link rel="stylesheet" href="__PUBLIC__/uploadify/uploadify.css" type="text/css">
				    <script type="text/javascript">
					    $(function() {
					        $('#file_upload').uploadify({
					            'swf'      : '__PUBLIC__/uploadify/uploadify.swf',    //指定上传控件的主体文件
					            'uploader' : '/uploadify.php',   //指定服务器端上传处理文件
					            //其他配置项
					            'buttonClass' : 'upBtn',
					            'buttonText' : '选择您要上传的头像',
					            'width' : 250,
					            'height' : 35,
					          	'cancelImg' : '__PUBLIC__/uploadify/uploadify-cancel.png',
					          	'fileTypeExts' : '*.jpg;*.jpge;*.gif;*.png',
                   				'fileSizeLimit' : '2MB',
					            'onUploadSuccess' : function(file, data, response) {
							            $('#' + file.id).find('.data').html('');
				                        $("#upload_org_code_name").val(data);
				                        $(".upload_org_code_img").attr("src",data); 
				                        $("#a").show();
				                        // $(".upload_org_code_img").hide();
				                        $(".preview-pane img").attr("src",data);
				                        $(".jcrop-hline").prev().attr("src",data);
				                        imgs();
				                        // $(".main-upTitls").hide(); 
				                        // $(".upload_org_code_img").show();
				                        // $(".upload_org_code_img").attr("id","imgs")
							        },
							     //加上此句会重写onSelectError方法【需要重写的事件】
							    'overrideEvents': ['onSelectError', 'onDialogClose'],
                                //返回一个错误，选择文件的时候触发
			                    'onSelectError':function(file, errorCode, errorMsg){
			                        switch(errorCode) {
			                            case -110:
			                                alert("文件 ["+file.name+"] 大小超出系统限制的" + jQuery('#upload_org_code').uploadify('settings', 'fileSizeLimit') + "大小！");
			                                break;
			                            case -120:
			                                alert("文件 ["+file.name+"] 大小异常！");
			                                break;
			                            case -130:
			                                alert("文件 ["+file.name+"] 类型不正确！");
			                                break;
			                        }
			                    },
					        });
					    });
					</script>
					<div class="hs-titles" id="file_upload">选择您要上传的头像</div>
					<p class="hs-p1">仅支持JPG、GIF、PNG、JPEG、BMP格式，文件小于2M</p>
					<div class="hs-cont  clear">
						<div class="main-up">
							<span class="main-upTitls">选择一张本地图片编辑后上传</span>
							<img  alt="" class="upload_org_code_img" style="display:none;width:365px;height: 314px;position: absolute;top: 0;left: 0;" src="" id="a"> <!-- 第一张上传的图片 -->
							<div class="preview-pane" id="" style="left: 423px;top: 128px;"> <!-- 100像素的中等图片 -->
								<div class="preview-container">
									<img src="" alt="" id="" draggable="false">
								</div>
							</div>
							<div class="preview-pane" id="" style="left: 587px;top: 176px;">  <!-- 50像素的小图片 -->
								<div class="preview-container img2" >
									<img src="" alt="" id="" draggable="false">
								</div>
							</div>
						</div>
						<div class="effect">
							<h5>效果预览</h5>
							<p class="hs-p2">上传的图片会自动生成2种尺寸，<br>请注意小尺寸的头像是否清晰</p>
							<div class="effect-two"></div>
							<p class="f12 c9">100*100像素</p>
						</div>
						<div class="effect-small clear">
							<div class="es-img"></div>
							<p class="f12 c9">50*50像素</p>
						</div>
					</div>
					<h4>推荐头像</h4>
					<ul class="clear">
						<li><img src="/Public/mall/PersonalCenter/CommonPersonalCenter/Common/Image/footerGoodsImg.png" alt=""></li>
						<li><img src="http://img01.114nz.com/12015120389828/Product/565fa09ab0799.jpg" alt=""></li>
						<li><img src="http://img1.gtimg.com/gamezone/pics/hv1/78/74/1998/129938898.jpg" alt=""></li>
						<li><img src="http://m.tiebaimg.com/timg?wapp&quality=80&size=b150_150&subsize=20480&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&srctrace&di=8ad009ddf5559637ca04e1b760282e53&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F11385343fbf2b211ed2e6e73c28065380cd78e8f.jpg" alt=""></li>
						<li><img src="http://imgsrc.baidu.com/forum/w%3D580/sign=c8e2a702773e6709be0045f70bc79fb8/2c3b0924ab18972bbb635befeecd7b899e510a63.jpg" alt=""></li>
						<li><img src="" alt=""></li>
						<li><img src="" alt=""></li>
						<li><img src="" alt=""></li>
						<li><img src="" alt=""></li>
						<li><img src="" alt=""></li>
					</ul>
					<input type="submit" value="保存" class="hs-sub">
				</div>
			</div><!-- 右边内容end -->
		</div>
	</section>	<!-- 主体内容end -->
	<include file ="Public/CommonPersonalFooter"/>	
<script type="text/javascript">
	$(document).ready(function(){
		$('ul li img').click(function(){
			var src = $(this).attr('src');

			$(".upload_org_code_img").attr("src",src);
			$(".preview-pane img").attr("src",src);
			$(".jcrop-hline").prev().attr("src",src);
			imgs();
		})
	})
	function imgs(){
		var jcrop_api,
        boundx,
        boundy,
        // Grab some information about the preview pane
        $preview = $('.preview-pane'),
        $pcnt = $('.preview-pane .preview-container'),
        $pimg = $('.preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();
    console.log('init',[xsize,ysize]);
    $('.upload_org_code_img').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
      aspectRatio: xsize / ysize,
       bgFade: true,
	   bgOpacity: .2,
	   setSelect: [ 0, 200, 200, 0 ],
    },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;
      $("#a").hide();
      // Move the preview into the jcrop container for css positioning
      $preview.appendTo(jcrop_api.ui.holder);
    });

    function updatePreview(c)
    {
      if (parseInt(c.w) > 0)
      {
        var rx = xsize / c.w;
        var ry = ysize / c.h;

        $pimg.css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
      }
    };
		}
</script>
</body>
</html>