<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中农在线</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/Common/Css/common.css" type="text/Css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/CommonPersonal/Css/vipSet.css" type="text/Css">
	<link rel="stylesheet" href="{$Think.config.STYLE_URL}/PersonalCenter/CommonPersonal/Css/multi-switch.min.css" type="text/Css">
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/common.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/Common/Js/Validation.js"></script>
	<script type="text/javascript" src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Js/footer.js"></script>
	<!--[if IE 8.0]><link href="{$Think.config.STYLE_URL}/Common/Css/ie8.css" rel="stylesheet" type="text/Css" /><![endif]-->
	<!--[if IE]> 
	<script type="text/javascript"> 
		(function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})() 
	</script> 
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="static.nzsoso.com/mall/wuhelong/IE8.js" type="text/javascript"></script>
	<![endif]-->
	
</head>
<body>
	<include file = "Public/CommonPersonalHeader"/>
	<section class="containar"><!-- 主体内容开始 -->
		<div class="headBox indexHead clear">
			<div class="lb-head"><!-- 头像 -->
				<div class="lb-head-bj">
					<img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt="">
					<a href="" class="membrane">编辑资料</a><!-- 阴影 -->
				</div>
			</div><!-- 头像end -->
			<div class="safeCont"><!-- 关于安全登记信息 -->
				<div class="name"><span>Hi!</span>WSC123456</div>
				<div class="safeTxt">安全等级：<img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/safeLv1.png" alt=""><b>中级</b><span>建议您启动全部安全设置，以保障账户及资金安全</span></div>
				<!-- 等级2 3的图就是safeLv2 3的名字 -->
			</div><!-- 关于安全登记信息end -->
			<a href="/Home/CommonPersonal/vipSet.html" class="safeBtn" target="_blank">提升安全等级</a>
		</div>
		<div class="indexCont clear"><!-- 处理订单内容部分开始 -->
			<div class="orders"><!-- 处理订单 -->
				<div class="orders-title"><span class="colors"></span>待处理订单</div>
				<ul class="clear">
					<li><a href="/Home/FarmMallPersonal/buyerBuyedGoods.html" target="_blank"><p>待付款</p><div class="nums">1</div></a></li>
					<li><a href="/Home/FarmMallPersonal/buyerBuyedGoods.html" target="_blank"><p>待收货</p><div class="nums">20</div></a></li>
					<li><a href="/Home/FarmMallPersonal/buyerBuyedGoods.html" target="_blank"><p>待评价</p><div class="nums">0</div></a></li>
				</ul>
			</div>
			<div class="clients"><!-- 客户认证 -->
				<div class="orders-title"><span class="colors"></span>客户认证</div>
				<a class="clientsTxt" href="/home/FarmMallPersonal/sellerClient.html" target="_blank">
					<p>账户认证</p>
					<div class="nums">22</div>
				</a>
			</div>
			<div class="credits"> <!-- 授信处理 -->
				<div class="orders-title"><span class="colors" style="background: #ff6600;"></span>授信处理</div>
				<ul class="clear">
					<li><a href="/home/FarmMallPersonal/sellerCreditNexus.html" target="_blank"><p>授信申请</p><div class="nums">1</div></a></li>
					<li><a href="/home/FarmMallPersonal/sellerCreditAdjustment.html" target="_blank"><p>额度调整申请</p><div class="nums">20</div></a></li>
					<li><a href="/home/FarmMallPersonal/sellerMeAgented.html" target="_blank"><p>代理申请</p><div class="nums">0</div></a></li>
				</ul>
			</div>
			<div class="myAssets"><!--  我的资产 -->
				<div class="orders-title" style="margin-bottom: 15px;"><span class="colors"></span>我的资产<img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/closeEye.png" alt="" class="img1" id="img1"><!-- <img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/closeEye.png" alt="" class="img2" id="img2"> --></div>
				<div class="assetsLeft">
					<div class="p1">账户余额</div>
					<div class="p2"><span>¥</span>5693.00</div>
					<div class="redBag"></div>
					<a href="/home/FarmMallPersonal/acountRecharge.html" class="a1" target="_blank">充值</a>
					<a href="/home/FarmMallPersonal/acountWithdraw.html" class="a2" target="_blank">提现</a>
				</div>
				<div class="assetsRight">
					<p>红包</p>
					<div class="p2"><span>¥</span>5693.00</div>
					<div class="redBag"></div>
					<a href="/home/FarmMallPersonal/redRecharge.html" class="a1" target="_blank">充值</a>
					<a href="/home/FarmMallPersonal/redWithdraw.html" class="a2" target="_blank">提现</a>
				</div>
			</div>
			<div class="account"> <!-- 账户设置 -->
				<ul>
					<li><a href="/home/CommonPersonal/vipSet.html" target="_blank">
						<div class="titles">账户安全设置</div>
						<span>填写完整，保护您的账户待以免遭受不必要的损失</span>
					</a></li>
					<li><a href="/home/CommonPersonal/vipSetAccountSetAdd.html" target="_blank">
						<div class="titles">子账号设置</div>
						<span>可设置多账号登录，方便公司级别操作</span>
					</a></li>
					<li><a href="/home/CommonPersonal/bankCard.html" target="_blank">
						<div class="titles">银行卡(3)</div>
						<span>多银行卡设置</span>
					</a></li>
				</ul>
			</div>
			<div class="myCollect clear"><!-- 我的收藏 -->
				<div class="orders-title" style="margin-bottom: 12px;"><span class="colors"></span>我的收藏</div>
				<div class="lefts">
					<h4>我收藏的商铺<span><i class="num">22</i>家商铺已被收藏</span></h4>
					<ul class="clear">
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
					</ul>
					<a href="/home/FarmMallPersonal/buyerCollectStore.html" class="more" target="_blank">查看全部 ></a>
				</div>
				<div class="mids">
					<h4>我收藏的商品<span><i class="num">22</i>家商铺已被收藏</span></h4>
					<ul class="clear">
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
					</ul>
					<a href="/home/FarmMallPersonal/buyerCollectGoods.html" class="more" target="_blank">查看全部 ></a>
				</div>
				<div class="rights">
					<h4>我加入的商铺<span><i class="num">22</i>家商铺已被收藏</span></h4>
					<ul class="clear active">
						<!-- <li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li>
						<li><a href=""><img src="{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/lufei.jpg" alt=""></a></li> -->
					</ul>
					<a href="/home/FarmMallPersonal/buyerJoinShop.html" class="more">马上加入 ></a>
				</div>	
			</div><!-- 我的收藏end -->
		</div><!-- 处理订单内容部分开始 -->
	</section>	<!-- 主体内容end -->
	<include file ="Public/CommonPersonalFooter"/>
<script type="text/javascript">
	$(document).ready(function(){
		$('#img1').click(function(){
			if($('.p2').is(":hidden")){
				$(this).attr('src','{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/closeEye.png');
				$('.p2').show();
				$('.redBag').hide();
			}else{
				$(this).attr('src','{$Think.config.STYLE_URL}/PersonalCenter/Common/Image/openEye.png');
				$('.p2').hide();
				$('.redBag').show();
			}
		})
	})
</script>
</body>
</html>